<div class="col-md-6">
     <div *ngIf="visiblePieChart">
        <div class="panel panel-default" >
            <div class="panel-heading">
                    <span class="pull-right">
                            <a (click)="removePanelPieCgart()">
                                <em class="fa fa-times text-muted text-right"></em>
                            </a>
                        </span>
                    <h4 class="pull-left">User count by task type</h4>
            </div>
            <div>
                <canvas baseChart [chartType]="'pie'" [options]="pieOptions" [datasets]="pieData.datasets" [colors]="pieColors" [labels]="pieData.labels" [legend]="true" width="600" height="250" ></canvas>
            </div>

            <div>
           <!--  <google-chart [data]="pieChartData"></google-chart>
            -->   </div>
        </div>
    </div>
</div>
