<div class="content-heading">Study Management Details</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-heading">
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
            <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
            Back
        </button>
    </div>

    <div class="col-md-12">
    <div class="panel b">
    <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">User Details</div>
    <div class="panel-body">
        <div class="col-sm-5">
        <table >
            <tr>
            <th>User Name: {{ appUser.userName }}  </th>
            </tr>
        </table>  
        </div>                        
    </div>
    </div>
    </div>

<!--     <div *appHasaccess="appUserPrivilege.view"> -->
    <div class="col-md-4">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Roles</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">User Name</th>
                            <th class="text-center">First Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of roles">
                            <td class="text-center">{{ role.roleName }}</td> 
                            <td class="text-center">{{ role.roleDescription }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!--</div>
 -->
    <div *appHasaccess="studyPrivilege.view">  
    <div class="col-md-4">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Studies</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Code</th>
                            <th class="text-center">Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let studie of studies">
                            <td class="text-center">{{ studie.studyName }}</td> 
                            <td class="text-center">{{ studie.studyCode }}</td> 
                            <td class="text-center">{{ studie.studyTitle }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
 </div>
 
    <div *appHasaccess="groupPrivilege.view">
    <div class="col-md-4">
        <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Groups</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of groups">
                            <td class="text-center">{{ group.name }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>