<div *ngIf="visiblePieChart" >
<div class="col-sm-12">
     <!-- START widget-->	
      <div class="panel panel-default" id="panelChart9">
          <div class="panel-heading">          				
				<div class="panel-title text-center">Task Summary by Task Status
					<span class="pull-right">
						<a (click)="removePanel()">
							<em class="fa fa-times text-muted text-right"></em>
						</a>
					</span>
				</div>	                 
          </div>
		  <div class="panel-wrapper">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<br>
							<div class="row">															
								<label class="col-sm-12 control-label">Select Study</label>
							</div>
							<div class="row">
								<form [formGroup]="studyForm" class="form-validate form-horizontal" novalidate="">			
									<div class="col-sm-12">					            
										<select class="form-control" formControlName="studyId" [formControl]="studyForm.controls['studyId']" (change)="onStudyChange($event.target.value)">                   
											<option [value] = -1 >All</option>				              		
											<option *ngFor="let study of studyList let i = index" [value]="study.studyId">{{study.studyName}} </option>
										</select>
										<span class="text-danger" *ngIf="studyForm.controls['studyId'].hasError('required') && (studyForm.controls['studyId'].dirty || studyForm.controls['studyId'].touched)">This field is required</span>
									</div>
								</form>
							</div>
							<br><br>
							<div class="row">
								<label class="col-sm-12 control-label"> Select Deliverable</label>
							</div>
							<div class="row">
								<form [formGroup]="delvForm" class="form-validate form-horizontal" novalidate="">
									<div class="col-sm-12">            			
										<select class="form-control" formControlName="deliverableId" [formControl]="delvForm.controls['deliverableId']" (change)="onDeliverableChange($event.target.value)">                   
											<option [value] = -1  >All</option>
											<option *ngFor="let deliverable of deliverableList let i = index" [value]="deliverable.deliverableId">{{deliverable.deliverableName}}</option>
										</select>
										<span class="text-danger" *ngIf="delvForm.controls['deliverableId'].hasError('required') && (delvForm.controls['deliverableId'].dirty || delvForm.controls['deliverableId'].touched)">This field is required</span>
									</div>
								</form>
							</div>
						</div>							
						<div class="col-sm-5">	        				
	            			<canvas baseChart [chartType]="'pie'" [options]="pieOptions" [datasets]="pieData.datasets" [colors]="pieColors" [labels]="pieData.labels" [legend]="true" height="250" width="350"  ></canvas>
						</div>		
						<div class= "col-sm-4">			
							<table class="table table-hover" [mfData]="dTaskCntByStatus" #mf="mfDataTable" >
								<thead>
									<tr>
										<th>
											<mfDefaultSorter by="bridgeName">Status</mfDefaultSorter>
										</th>                                           
										<th>
											<mfDefaultSorter by="bridgeName">Count</mfDefaultSorter>
										</th>                                           
										<th>
											<mfDefaultSorter by="bridgeName">Percentage</mfDefaultSorter>
										</th>                                           
									</tr>
								</thead>
								<tbody>            
									<tr *ngFor="let item of mf.data; let i = index"   [class.active]="i == selectedRow" >
										<td >{{item.taskStatus}}</td>                        
										<td>{{item.taskCount}}</td>
										<td>{{ ( (item.taskCount / totalDataCount) * 100 ) | round }}%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>