<div class="content-heading">Audit Report</div>


<div class="row">
    <div class="col-sm-4">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
    <form>            
        <fieldset>
          <div class="form-group">              
            <div class=" col-sm-2">                
              <select class="form-control" (change)="onLimitChange($event)">                  
                <option *ngFor="let limit of limits" [value]="limit" >{{limit}}</option>
              </select>
            </div>
            <div class="col-xs-10">
              <button class="btn btn-labeled btn-info btn-sm" type="button"  (click)="getFirstRecords()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>First
              </button>
              <button class="btn btn-labeled btn-info btn-sm" [disabled]="previousDisabled" type="button"(click)="getPreviousRecords()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>Prev
              </button>                                                
              <button class="btn btn-labeled btn-info btn-sm" [disabled]="nextDisabled" type="button" (click)="getNextRecords()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>Next
              </button>
              <button class="btn btn-labeled btn-info btn-sm" [disabled]="lastDisabled" type="button" (click)="getLastRecords()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>Last
              </button>
            </div>              
          </div>          
        </fieldset>        
    </form>
</div>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="app-table"> 
<h4 class="pull-right">Total records: {{this.recordStart}} - {{this.recordEnd}} </h4>
  <div class="displayGrid">    
    <table class="table table-bordered table-hover" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="performedBy">Action Performed By</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="description">Action description</mfDefaultSorter>
                </th>                            
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="dateTime">Date & Time </mfDefaultSorter>
                </th>
                <!-- <th>
                    <mfDefaultSorter by="performedAction">Action (to be removed)</mfDefaultSorter>
                </th> -->

            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let item of mf.data; let i = index"   [class.active]="i == selectedRow">
    
                <td>{{item.performedBy}}</td>                
                <td>{{item.description}}</td>
                <td>{{item.dateTime}}</td> 
                <!-- <td>{{item.performedAction}}</td>                                 -->
            </tr>
        </tbody>
        <tfoot align="left">
            <tr>
                <td colspan="11">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</div>