<div class="content-heading">Group Details</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>
  </div>
  <div class="panel-body">
    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Group Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="name" [formControl]="valForm.controls['name']" />
            <span class="text-danger" *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Group Description</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="description" [formControl]="valForm.controls['description']" />            
          </div>          
        </div>
      </fieldset>
       <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Active</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="active" [formControl]="valForm.controls['active']">
                <option value = null disabled >Please select ...</option>
                <option value= "1">Yes</option>
                <option value= "0">No</option>                                        
              </select>
              <span class="text-danger" *ngIf="valForm.controls['active'].hasError('required') && (valForm.controls['active'].dirty || valForm.controls['active'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
              <small class="text-muted">required</small>
            </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Users</label>
          <div class="col-sm-8">
            <div class="col-sm-5">
              <h5> Available Users: {{availableUserList.length}} </h5>
              <select multiple (change)="changeUserList($event.target)" style="width:100%; height:200px;">
                <option *ngFor="let item of availableUserList" [value]="item.userIdPk">{{item.userName}}</option>
              </select>
            </div> 
            <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
              <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllUsers()" >
                <span class="fa fa-forward"></span>              
              </button>
              <br><br>
              <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deSelectAllUsers()" >
                <span class="fa fa-backward"></span>              
              </button>
            </div> 
            <div class="col-sm-5">
              <h5> Assigned Users: {{assignedUserList.length}} </h5> 
              <select multiple (change)="changeAssignedUserList($event.target)" style="width:100%; height:200px;">
                <option *ngFor="let item of assignedUserList" [value]="item.userIdPk">{{item.userName}}</option>
              </select>            
            </div>
          </div>
        </div>
      </fieldset>
      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class="btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>
  </div>
</div>


