<div class="content-heading">Groups</div>
<h4>Total records: {{totalRecords}} </h4>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
     
    <div class="col-xs-6 col-md-4 text-right" > 
            <button *appHasaccess="createAccess" class="btn btn-labeled btn-info btn-sm" type="button" (click)="addNew()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
            Add New</button>

            <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="refresh()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                Refresh
            </button>
    </div>
</div>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="app-table"> 
   <div class="displayGrid">    
    <table class="table table-bordered table-hover" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th   *appHasaccess="writeAccess" width="5%"></th> 
                <th   *appHasaccess="deleteAccess" width="5%"></th>               
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="Name">Group Name</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="Description">Group Description</mfDefaultSorter>
                </th>  
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="active">Active</mfDefaultSorter>
                </th>              
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="createdBy">Created By</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="modifiedBy">Modified By</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="createdDate">Created Date</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="modifiedDate">Modified Date</mfDefaultSorter>
                </th>              
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td *appHasaccess="writeAccess" >
                    <button class="btn btn-danger btn-xs" title="update" (click)="editRow(item)">
                        <span class="fa fa-pencil"></span>
                    </button>
                </td>
                    <td *appHasaccess="deleteAccess" >
                        <button class="btn btn-danger btn-xs" title="remove" (click)="removeItem(item)">                    
                            <span class="fa fa-times"></span>
                        </button>
                    </td>                          
                <td>{{item.name}}</td>                
                <td>{{item.description}}</td>  
                <td>{{item.active==1 ? 'Yes' : 'No'  }}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.modifiedBy}}</td>
                <td>{{item.createdDate  | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
                <td>{{item.modifiedDate  | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
            </tr>
        </tbody>
        <tfoot align="left">
            <tr>
                <td colspan="11">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

<div class="modal" bsModal #deleteModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Record</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this record? Once deleted, you cannot undo this action.
                    <br><br>
                    <div class="text-center">
                        <button class="btn btn-danger" type="button" (click)="delete()">Yes</button>
                        <button class="btn btn-danger" type="button" (click)="deleteModal.hide()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>