div.vertical {
    border-left: 1px solid rgb(129, 125, 125);
    // border-bottom: 1px solid rgb(129, 125, 125);
    // border-right: 1px solid rgb(129, 125, 125);
    // border-top: 1px solid rgb(129, 125, 125);
    height: 100px;
}