<div class="content-heading">Task Details</div>
<div class="row">
<div class="col-md-10">

<div class="panel panel-default">
<div class="panel-body">
  <div class="panel-heading text-right">
    <button class="btn btn-labeled btn-info btn-xs" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>

    <ng-container *ngIf="editButtonFlag == true" >             

    <button class="btn btn-labeled btn-info btn-xs" *ngIf="this.isButtonVisible"  type="button"  (click)="editTask(valTaskForm)">
      <span class="btn-label"><i class="fa fa-check"></i></span>
      Edit
    </button>
    </ng-container>             

    <ng-container *ngIf="createAvailableSubtaskButtonflag == true" >             
      <span *ngFor="let taskList of availableSubtaskTypeList" >
        <button class="btn btn-labeled btn-info btn-xs" type="button" (click)="createSubTask(valTaskForm , taskList.taskType)">
        <span class="btn-label"><i class="fa fa-check"></i></span>
        Create {{taskList.taskType }} Task
        </button>
      </span >                
    </ng-container>
  
  </div>

    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <form [formGroup]="valTaskForm" class="form-validate form-horizontal" (submit)="submitForm($event, valTaskForm.value)" novalidate="">
  
  <div class="breadcrumb">
        <!-- 
=======
  <div class="breadcrumb" *ngIf="allParentTaskList.length > 1">
>>>>>>> Redesign_TaskUI
        <span *ngFor="let item of allParentTaskList; let i = index">
            <a (click)="taskById(item.taskId)" > Task # {{ item.taskId }}-{{item.studyCode}}-{{item.deliverableCode}}-{{item.type}} </a>
            <span>  {{ i < allParentTaskList.length-1  ? '>>' : '' }} </span>
        </span> 
        -->
        
        <span *ngFor="let item of allParentTaskList; let i = index">
            <a (click)="taskById(item.taskId)" > Task #{{ item.taskId }} </a>
            <span>  {{ i < allParentTaskList.length-1  ? '>>' : '' }} </span>
        </span>

        

      <!-- <a
        [routerLink] = "['/task/details-read']"
        [queryParams] = "{taskId: item.taskId }"
        href= "#"
        *ngFor="let item of allParentTaskList">
        {{item.taskId }}
      </a>
      -->
  </div>

 

  <p class="bb">
          Task  #{{ task.taskId }} 
  </p>  

  <div class="row">
    <div class="col-md-12">
      <h4>{{task.name}}</h4>
    </div> 
  </div>
  <div class="row">
    <!--<div class="col-md-2">Description</div>-->
    <div class="col-md-12">{{task.description}} </div>    
  </div>
  <br>
  <p class="bb"></p>
  <div class="row">
    <div class="col-md-3">Study</div>
    <div class="col-md-3"> <strong>: {{task.studyName}} </strong> </div>

    <div class="col-md-3 ">Deliverable</div>            
    <div class="col-md-3"> <strong>: {{task.deliverableName}}</strong></div>
</div>
<div class="row">
    <div class="col-md-3 ">Start Date</div>          
    <div class="col-md-3 "> <strong>: {{task.startDate | datex:'YYYY-MM-DD hh:mm:ss'}} </strong></div>  

    <div class="col-md-3 ">End Date</div>          
    <div class="col-md-3 "> <strong>: {{task.endDate | datex:'YYYY-MM-DD hh:mm:ss' }}</strong> </div>
  </div>
  <div class="row"> 
    <div class="col-md-3">Status</div>
    <div class="col-md-3"> <strong> : {{task.status}} </strong> </div>
  
    <div class="col-md-3 ">Type</div>            
    <div class="col-md-3"> <strong>: {{task.type}}</strong></div>
  </div>
  <div class="row">       
    <div class="col-md-3 ">Priority</div>          
    <div class="col-md-3 "> <strong>: {{task.priority}}</strong></div>    
     
    <div class="col-md-3 ">Assignee</div>          
    <div class="col-md-3"> <strong>: {{task.assigneeName}} </strong></div>
  </div>
  <div class="row">        
    <div class="col-md-3 ">Created By</div>          
    <div class="col-md-3"><strong>: {{task.createdBy}}</strong></div>

    <div class="col-md-3 ">Created On</div>          
    <div class="col-md-3"> <strong>: {{task.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}} </strong></div>
  </div>
  <div class="row">        
      <div class="col-md-3 ">Estimated Time</div>          
      <div class="col-md-3"><strong>: {{task.estimatedTime != null ? task.estimatedTime : 0}} hrs</strong></div>
  
      <div class="col-md-3 ">Actual Time</div>          
      <div class="col-md-3"> <strong>: {{task.actualTime != null ? task.actualTime : 0 }} hrs </strong></div>
    </div>

  <div class="row">
    <div class="col-md-3 ">Linked Deliverables</div>          
    <div class="col-md-6"> 
      <strong><div *ngFor="let item  of linkedDeliverablesList; let i = index">{{i+1}}) {{item.deliverableName}}</div> 
      </strong>
    </div>

  </div>
  <br>
  <div>
      <label>
        <input type="file" #FileUpload (change)="selectFile($event)" multiple>
      </label>
      <input type="button" [disabled]="!selectedFiles" (click)="upload()" value="Upload"/>
    </div>
<br>
<div class="row">
  <div class="col-md-2 "><strong>Files</strong></div>          
    <div class="col-md-6"> 
      <strong>
      <table class="table" >
        <tbody>
          <tr *ngFor="let file  of fileNames; let i = index">
              <td> <a (click)="download(file)">{{file}}</a></td> 
              <td>
                  <button class="btn btn-danger btn-xs" title="Remove" type="button" (click)="deleteFile(file)">
                          <span class="fa fa-times"></span>
                  </button>
              </td>
          </tr>
          </tbody>
      </table>
    </strong>
   </div>
 </div>
  <fieldset></fieldset>

  <fieldset>
<!--   
  <ng-container *ngIf="taskCommentList.length > 0">
    <fieldset> 
        <h4>Comments ( {{taskCommentList.length}} )</h4>   
            <div class="col-lg-offset-1"> 
              <tr *ngFor="let item of taskCommentList" >
                <div class="icon-user"><strong> {{item.createdBy }}</strong></div>
                <div [hidden]= "item.action ==''">{{item.action}}</div>
                  <div class="" >{{item.comment}}</div>
                    <div class="m0 text-muted">{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</div>
                    &thinsp;
                    </tr>
               </div>      
    </fieldset>
  </ng-container> -->

  <div class="form-group">
    <div class="row">
         <label class="col-sm-2 control-label">Comment</label>
          <div class="col-sm-8">
          <textarea rows="2" class="form-control" formControlName="comment" [formControl]="valTaskForm.controls['comment']"></textarea>            
          </div>                   
         </div> 
      </div>     
  </fieldset>
 
      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class="btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>

</div>
</div>

<div class="modal" bsModal #cantCreateSubTaskModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantCreateSubTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Edit</h4>
                </div>
                <div class="modal-body">
                    You can not create sutask of this task as this task is already level 2. 
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantCreateSubTaskModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal" bsModal #cantCreateTaskModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantCreateSubTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Create</h4>
                </div>
                <div class="modal-body">
                    Please select parent task to create this task. if parent task is empty, you can not create task for selected type.  
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantCreateTaskModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <ng-container *ngIf="levelOneSubTaskList.length > 0" >             

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel-heading">Subtask</div>
      
        <div class="displayGrid" style="overflow-y: auto; overflow-x: off">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of levelOneSubTaskList" >
              <td> 
              <a (click)="taskById(item.taskId)"> #{{item.taskId}}-{{item.studyCode}}-{{item.deliverableCode}}-{{item.type}} </a> 
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
</ng-container>              -->
<ng-container *ngIf="levelOneSubTaskList.length > 0" >             

    <div class="col-md-2">
      <div class="panel panel-default;">
      <accordion [closeOthers]="true">
          <accordion-group panelClass="b0 mb-sm" [isOpen]="isAccOpen">
            <div accordion-heading>
              <span>Show Subtask</span>
            </div>
            <div class="displayGrid" style="overflow-y: auto; overflow-x: off;">
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let item of levelOneSubTaskList" >
                  <td> 
                  <a (click)="taskById(item.taskId)">Task #{{item.taskId}} </a> 
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </accordion-group>
        </accordion> 
      </div>
    </div>
  </ng-container>       
  </div>