<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img class="img-responsive" src="assets/img/taskflow-logo.png" alt="App Logo" />
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-responsive" src="assets/img/logo-single.png" alt="App Logo" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
                    <em class="fa fa-navicon"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled =! settings.layout.asideToggled">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <!-- START User avatar toggle-->
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
              <!--  <a (click)="toggleUserBlock($event)">
                    <em class="icon-user"></em>
                </a>-->
            </li>
            <!-- END User avatar toggle-->
            <!-- START lock screen-->
            <!--<li>
                <a  title="Lock screen" [routerLink]="'/lock'">
                    <em class="icon-lock"></em>
                </a>
            </li>-->
            <!-- END lock screen-->
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- START MyProfile menu-->
            <li>
                <a routerLink="/notification">                                        
                    <em class="icon-bell"></em>
                </a>
            </li>
            <li class="dropdown dropdown-list" dropdown> 
                            
                <a dropdownToggle>                                        
                    <em class="icon-user"></em>
                </a>
                <!-- START Dropdown menu-->
                <ul *dropdownMenu class="dropdown-menu">
                    <li>
                        <!-- START list group-->
                        <div class="list-group"></div>
                        <a class="list-group-item" (click)="myprofile($event)">
                            <div class="clearfix">
                                <p class="m0">My Profile</p>
                            </div>
                        </a>
                        <!-- END list group-->
                    </li>
                    <!-- <li>
                        <div class="list-group"></div>
                        <a class="list-group-item" (click)="notification($event)">
                            <div class="clearfix">
                                <p class="m0">Notifications</p>
                            </div>
                        </a>

                    </li> -->
                    <li>
                        <!-- START list group-->
                        <div class="list-group"></div>
                        <a class="list-group-item" (click)="logout($event)">
                            <div class="clearfix">
                                <p class="m0">Logout</p>
                            </div>
                        </a>
                        <!-- END list group-->
                    </li>
                </ul>
                <!-- END Dropdown menu-->
            </li>
            <!-- END MyProfile menu-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

    <!--<app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch>
    -->
</nav>
<!-- END Top Navbar-->
