<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <ng-container *ngIf="showSpinner > 0">
            <div id="loader"></div>
        </ng-container>
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/taskflow-logo.png" alt="Image" width=100%/>
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">SIGN IN TO CONTINUE.</p>
                <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group has-feedback">
                        <input class="form-control" id="username" type="text" name="username" placeholder="Enter username" autocomplete="off"
                            formControlName="username" required="" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['username'].hasError('required') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">This field is required</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="Password" formControlName="password"
                            required="" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">This field is required</span>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                <input type="checkbox" value="" name="account_remember"/>
                                <span class="fa fa-check"></span>Remember Me</label>
                        </div>
                    </div>
                <div class="text-center pv">
                <span class="text-danger " >{{errorMsg}}</span>
                </div>
                <button class="btn btn-block btn-primary mt-lg" type="submit">Login</button>
                </form>
                <!-- <div class="alert alert-danger text-center" ></div> -->
                
            </div>
        </div>
        <!-- END panel-->        
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>