    <ng-container *ngIf="showSpinner > 0">
        <div id="loader"></div>
    </ng-container>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <div class="row">
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bg-gray-lighter text-bold">Settings</div>
                <div class="list-group">
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Profile</a>
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}">Reset Password</a>
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}">Event Notifications</a>
                    <div *appHasaccess="kriPrivilege.view"><a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=5" [ngClass]="{'active': (settingActive == 5)}">Kri Notifications</a></div>
                    <a  class="list-group-item" (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}">Assigned Roles</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div *ngIf="settingActive == 1">
                <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Profile</div>
                    <div class="panel-body">
                      <form [formGroup]="updateUserForm" class="form-validate form-horizontal" (submit)="submitUpdateUserForm($event, updateUserForm.value)" novalidate="">                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">User Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="userName" [formControl]="updateUserForm.controls['userName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['userName'].hasError('required') && (updateUserForm.controls['userName'].dirty || updateUserForm.controls['userName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="firstName" [formControl]="updateUserForm.controls['firstName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['firstName'].hasError('required') && (updateUserForm.controls['firstName'].dirty || updateUserForm.controls['firstName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="lastName" [formControl]="updateUserForm.controls['lastName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['lastName'].hasError('required') && (updateUserForm.controls['lastName'].dirty || updateUserForm.controls['lastName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="email" [formControl]="updateUserForm.controls['email']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['email'].hasError('required') && (updateUserForm.controls['email'].dirty || updateUserForm.controls['email'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Telephone</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="telephone" [formControl]="updateUserForm.controls['telephone']" />                             
                            </div>                           
                          </div>
                        </fieldset>
                        <div class="text-center">        
                          <button class="btn btn-labeled btn-info" [disabled]="profile_submitted" type="submit">
                            <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
                          </button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            
            <div *ngIf="settingActive == 2">
              <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Reset Password</div>
                    <div class="panel-body">
                        <form [formGroup]="passwordForm" class="form-validate form-horizontal" (submit)="submitPasswordResetForm($event, passwordForm.value)" novalidate="">
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" placeholder="Enter Password" formControlName="updatePassword" [formControl]="passwordForm.get('updatePassword')" />
                                        <span class="text-danger" *ngIf="passwordForm.get('updatePassword').hasError('required') && (passwordForm.get('updatePassword').dirty || passwordForm.get('updatePassword').touched)">Input required</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [formControl]="passwordForm.get('confirmPassword')" />
                                        <span class="text-danger" *ngIf="passwordForm.get('confirmPassword').hasError('equalTo')">Password does not match</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-center">        
                                <button class="btn btn-labeled btn-info" [disabled]="pw_submitted" type="submit">
                                    <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
                                </button>
                            </div>  
                      </form>                        
                    </div>
                </div>                
            </div>
            <div *ngIf="settingActive == 3">
                <app-event-list [user]="user"></app-event-list>
            </div>
            <div *ngIf="settingActive == 5">
                <app-kri-notification-list ></app-kri-notification-list>
            </div>  
            <div *ngIf="settingActive == 4">
                <div class="panel b">
                  <div class="panel-heading bg-gray-lighter text-bold">Assigned Roles</div>
                  <div class="panel-body">
                    <div class="col-sm-5">
                      <table >
                        <tr>
                          <th>Assigned Roles: {{ this.user.roles.length }} </th>
                        </tr>
                        <tr *ngFor="let role of this.user.roles">
                          <td>{{ role.roleName }}</td>  
                        </tr>
                      </table>  
                    </div>                        
                  </div>
                </div>
            </div>     
        </div>
    </div>