<div class="content-heading">Study Management</div>
<div class="panel panel-default">

  <div class="panel-body">
    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate="">
    
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Select Study</label>
          <div class="col-sm-8">
            <select class="form-control" formControlName="studyId" [formControl]="valForm.controls['studyId']" (change)="onStudyChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let study of studyList let i = index" [value]="study.studyId">{{study.studyName}}</option>
              </select>
            <span class="text-danger" *ngIf="valForm.controls['studyId'].hasError('required') && (valForm.controls['studyId'].dirty || valForm.controls['studyId'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <div *appHasaccess="appUserPrivilege.view">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Users</label>
            <div class="col-sm-8">
              <div class="col-sm-5">
                <h5> Available Users: {{usersList.length}} </h5>
                <select multiple (change)="changeUsersList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of usersList" [value]="item.userId">{{item.userName}}</option>
                </select>
              </div> 
              <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllUsers()" >
                  <span class="fa fa-forward"></span>              
                </button>
                <br><br>
                <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deSelectAllUsers()" >
                  <span class="fa fa-backward"></span>              
                </button>
              </div> 
              <div class="col-sm-5">
                <h5> Assigned Users: {{assignUsersList.length}} </h5> 
                <select multiple (change)="changeAssigUsersList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of assignUsersList" [value]="item.userId">{{item.userName}}</option>
                </select>            
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div *appHasaccess="deliverablePrivilege.view">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Global Deliverables</label>
            <div class="col-sm-8">
              <div class="col-sm-5">
                <h5> Available Deliverables: {{globalDeliverablesList.length}} </h5>
                <select multiple (change)="changeGloibalDeliverablesList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of globalDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                </select>
              </div> 
              <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllGlobalDeliverables()" >
                  <span class="fa fa-forward"></span>              
                </button>
                <br><br>
                <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deselectAllGlobalDeliverables()" >
                  <span class="fa fa-backward"></span>              
                </button>
              </div> 
              <div class="col-sm-5">
                <h5> Assigned Deliverables: {{assignGlobalDeliverablesList.length}} </h5> 
                <select multiple (change)="changeAssignedGloibalDeliverablesList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of assignGlobalDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                </select>            
              </div>
            </div>
          </div>
        </fieldset>
      
        <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label">Local Deliverables</label>
              <div class="col-sm-8">
                <div class="col-sm-5">
                  <h5> Available Deliverables: {{localDeliverablesList.length}} </h5>
                  <select multiple (change)="changeDeliverablesList($event.target)" style="width:100%; height:200px;">
                    <option *ngFor="let item of localDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                  </select>
                </div> 
                <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                  <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllDeliverables()" >
                    <span class="fa fa-forward"></span>              
                  </button>
                  <br><br>
                  <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deselectAllDeliverables()" >
                    <span class="fa fa-backward"></span>              
                  </button>
                </div> 
                <div class="col-sm-5">
                  <h5> Assigned Deliverables: {{assignLocalDeliverablesList.length}} </h5> 
                  <select multiple (change)="changeAssignedDeliverablesList($event.target)" style="width:100%; height:200px;" >
                    <option *ngFor="let item of assignLocalDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                  </select>            
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      <div *appHasaccess="groupPrivilege.view">
        <fieldset>
          <div class="form-group">
            <label class="col-sm-2 control-label">Groups</label>
            <div class="col-sm-8">
              <div class="col-sm-5">
                <h5> Available Groups: {{groupsList.length}} </h5>
                <select multiple (change)="changeGroupsList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of groupsList" [value]="item.id">{{item.name}}</option>
                </select>
              </div> 
              <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllGroups()" >
                  <span class="fa fa-forward"></span>              
                </button>
                <br><br>
                <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deselectAllGroups()" >
                  <span class="fa fa-backward"></span>              
                </button>
              </div> 
              <div class="col-sm-5">
                <h5> Assigned Groups: {{assignGroupsList.length}} </h5> 
                <select multiple (change)="changeAssigGroupsList($event.target)" style="width:100%; height:200px;">
                  <option *ngFor="let item of assignGroupsList" [value]="item.id">{{item.name}}</option>
                </select>            
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>
  </div>
</div>