<div class="content-heading">Notification Inbox</div>
<!-- START action buttons-->
<div class="clearfix mb">
        <div class="btn-group pull-left">
            <button class="btn btn-purple btn-sm mb-compose-button" (click)="sendForArchival()" [disabled]="notificationArchivalList.length == 0">
                <span>Archive</span>
            </button>
        </div>
        
        <div class="btn-group pull-right">
           
            
            
            <button class="btn btn-default btn-sm" type="button" (click)="getFirstRecords()">
                <em class="fa fa-fast-backward text-gray-dark"></em>
            </button>
            <button class="btn btn-default btn-sm" [disabled]="previousDisabled" type="button" (click)="getPreviousRecords()">
                <em class="fa fa-step-backward text-gray-dark"></em>
            </button>
            <button class="btn btn-default btn-sm" [disabled]="nextDisabled" type="button" (click)="getNextRecords()">
                <em class="fa fa-step-forward text-gray-dark"></em>
            </button>
            <button class="btn btn-default btn-sm" [disabled]="lastDisabled" type="button" (click)="getLastRecords()">
                <em class="fa fa-fast-forward text-gray-dark"></em>
            </button>
        </div>
        <div class="pull-right">&nbsp;&nbsp;</div>
        <select class="btn-default btn-sm pull-right" (change)="onLimitChange($event)">                  
            <option class="text-gray-dark" *ngFor="let limit of limits" [value]="limit" >{{limit}}</option>
        </select>
        <div class="pull-right">&nbsp;&nbsp;</div>
        <div class="btn-default btn-sm pull-right"><strong>{{ recordStart }} - {{ recordEnd }} of {{ totalRecords }}</strong></div>
    </div>
    <!-- END action buttons-->
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel panel-default notificationGrid">
    <div class="panel-body">
        <p class="lead text-center" *ngIf="!hasNotification()">No notifications here</p>
        <table class="table table-hover mb-mails" *ngIf="hasNotification()">
            <tbody>
                <tr *ngFor="let notification of notifications" >
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" (change)="setArchival($event, notification)" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                   <!-- <td class="text-center">
                        <em class="fa fa-lg" [ngClass]="mail.folder=='starred'?'fa-star text-warning':'fa-star-o text-muted'"></em>
                    </td> -->
                    <td >
                        
                        <div class="mb-mail-date pull-right">{{notification.creationTime |  datex:'YYYY-MM-DD hh:mm:ss'}}</div>
                        <div class="mb-mail-meta">
                            <div class="pull-left">
                                <div class="mb-mail-subject">{{notification.subject}}</div>     
                            </div>
                                <div class="mb-mail-preview">{{notification.content}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
