<div class="content-heading">Deliverable Report</div>
    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate=""> 
  
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label"> Select Deliverable</label>
          <div class="col-sm-8">
            <select class="form-control" formControlName="deliverableId" [formControl]="valForm.controls['deliverableId']" (change)="onDeliverableChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let deliverable of deliverableList let i = index" [value]="deliverable.deliverableId">{{deliverable.deliverableName}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
      </div>
      </fieldset>
   </form>

<div *ngIf="selectedDeliverableID > 0">
 <div class="panel panel-default panel-body" >
  <div class="table-responsive"> 
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <table class="table table-hover a" [mfData]="studyStats" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
         <tr>
            <th></th>
            <th class="text-center" colspan="3">
                    <mfDefaultSorter> <b>Task Type</b></mfDefaultSorter>
               </th>
        </tr>
          <tr>
              <th>
                  <mfDefaultSorter by="Studies">Studies</mfDefaultSorter>
              </th> 
              <th class="text-center">
                  <mfDefaultSorter by="Dev">Dev</mfDefaultSorter>
              </th>   
              <th class="text-center">
                  <mfDefaultSorter by="Test">Test</mfDefaultSorter>
              </th>   
              <th class="text-center">
                  <mfDefaultSorter by="Bug">Bug</mfDefaultSorter>
              </th>                            
              <th class="text-center">
                  <mfDefaultSorter by="Review">Review</mfDefaultSorter>
              </th>
          </tr>
      </thead>
      <tbody>      
          <tr *ngFor="let item of studyStats; let i = index" >
              <td style="color:black" >{{ item.studyName }}</td>
              <td style="color:black" class="text-center" (click)= "getTask('DEV',item.studyId, item.devTask )"   [ngClass]="{'open' : item.devTask == 'OPEN', 'closed' : item.devTask == 'CLOSED', 'nodata' : item.devTask == 'NODATA'}"> <b>{{ item.devTask }}</b></td>                 
              <td style="color:black" class="text-center" (click)= "getTask('TEST',item.studyId, item.testTask )" [ngClass]="{'open' : item.testTask == 'OPEN', 'closed' : item.testTask == 'CLOSED', 'nodata' : item.testTask == 'NODATA'}"><b>{{ item.testTask }}</b></td>  
              <td style="color:black" class="text-center" (click)= "getTask('BUG',item.studyId, item.bugTask )"   [ngClass]="{'open' : item.bugTask == 'OPEN', 'closed' : item.bugTask == 'CLOSED', 'nodata' : item.bugTask == 'NODATA'}" ><b>{{ item.bugTask }}</b></td>      
              <td style="color:black" class="text-center" (click)= "getTask('REVIEW',item.studyId, item.reviewTask )"[ngClass]="{'open' : item.reviewTask == 'OPEN', 'closed' : item.reviewTask == 'CLOSED', 'nodata' : item.reviewTask == 'NODATA'}"><b>{{ item.reviewTask }}</b></td>

          </tr>
      </tbody>
      <tfoot align="left">
          <tr>
              <td colspan="11">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
              </td>
          </tr>
      </tfoot>
  </table>
  </div>
</div>

  <div class="panel panel-default panel-body"> 
        <div class="table-responsive"> 
      <table class="table table-hover"  [mfData]="studyTimeStats" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
             <tr>
                <th></th>
                <th class="text-center" colspan="4">
                        <mfDefaultSorter> <b>Task Type (Estimeted Time - Actual Time)</b></mfDefaultSorter>
                   </th>
            </tr>
              <tr>
                  <th>
                      <mfDefaultSorter by="deliverable">Studies</mfDefaultSorter>
                  </th> 
                  <th class="text-center">
                      <mfDefaultSorter by="dev">Dev</mfDefaultSorter>
                  </th>   
                  <th class="text-center">
                      <mfDefaultSorter by="test">Test</mfDefaultSorter>
                  </th> 
                  <th class="text-center">
                        <mfDefaultSorter by="bug">Bug</mfDefaultSorter>
                    </th> 
                  <th class="text-center">
                      <mfDefaultSorter by="review">Review</mfDefaultSorter>
                  </th>
              </tr>
          </thead>
          <tbody>      
              <tr *ngFor="let item of studyTimeStats; let i = index" >
                  <td style="color:black">{{ item.studyName }}</td>
                  <td style="color:black;" class="text-center" (click)= "getFilteredTask('DEV', item.studyId,  item.totalDevEstimatedTime, item.totalDevActualTime)" [ngClass]="{'alert': item.totalDevActualTime > item.totalDevEstimatedTime, 'nah': item.devTimePer >= 80 && item.devTimePer < 100 && item.devTask == 'OPEN', 'closed': item.devTimePer >= 80 && item.devTimePer < 100 && item.devTask == 'CLOSED',                           'fine': item.devTimePer < 80 && item.devTimePer > 0 ,    'hmm': item.devTimePer == 100 && item.devTask == 'CLOSED', 'notstatisfied': item.devTimePer == 100 && item.devTask == 'OPEN' , 'nodata': item.devTimePer == 0 || item.devTimePer == 'NaN', 'blank' : item.totalDevEstimatedTime > 0 && item.totalDevActualTime == 0}">
                    <b> {{item.totalDevEstimatedTime}} hrs - {{item.totalDevActualTime}} hrs</b></td>
                    <!-- {{item.totalDevEstimatedTime}} hrs - {{item.totalDevActualTime}} hrs ({{item.devTimePer}}) ({{item.devTask}})</td>                  -->
                  <td style="color:black" class="text-center" (click)= "getFilteredTask('TEST',item.studyId, item.totalTestEstimatedTime, item.totalTestActualTime)" [ngClass]="{'alert' : item.totalTestActualTime > item.totalTestEstimatedTime, 'nah': item.testTimePer >= 80 && item.testTimePer < 100 && item.testTask =='OPEN','closed': item.testTimePer >= 80 && item.testTimePer < 100 && item.testTask =='CLOSED',                    'fine': item.testTimePer < 80 && item.testTimePer > 0,     'hmm': item.testTimePer == 100 && item.testTask == 'CLOSED', 'notstatisfied': item.testTimePer == 100 && item.testTask == 'OPEN',  'nodata': item.testTimePer == 0 || item.testTimePer == 'NaN','blank' : item.totalTestEstimatedTime > 0 && item.totalTestActualTime == 0}">
                    <b>{{item.totalTestEstimatedTime}} hrs - {{item.totalTestActualTime}} hrs</b></td>
                    <!-- {{item.totalTestEstimatedTime}} hrs - {{item.totalTestActualTime}} hrs ({{item.testTimePer}}) ({{item.testTask}})</td>  -->
                  <td style="color:black" class="text-center" (click)= "getFilteredTask('BUG', item.studyId, item.totalBugEstimatedTime, item.totalBugActualTime)"[ngClass]="{'alert' : item.totalBugActualTime > item.totalBugEstimatedTime ,  'nah': item.bugTimePer >= 80 && item.bugTimePer < 100 && item.bugTask == 'OPEN' ,  'closed': item.bugTimePer >= 80 && item.bugTimePer < 100 && item.bugTask == 'CLOSED',                   'fine': item.bugTimePer < 80 && item.bugTimePer > 0,        'hmm': item.bugTimePer == 100 && item.bugTask == 'CLOSED', 'statisfied': item.bugTimePer == 100 && item.bugTask == 'OPEN',  'nodata': item.bugTimePer == 0 || item.bugTimePer == 'NaN', 'blank' : item.totalBugEstimatedTime > 0 && item.totalBugActualTime == 0}">
                    <b> {{item.totalBugEstimatedTime}} hrs - {{item.totalBugActualTime}} hrs </b></td> 
                    <!-- {{item.totalBugEstimatedTime}} hrs - {{item.totalBugActualTime}} hrs ({{item.bugTimePer}}) ({{item.bugTask}})</td> -->
                 <td style="color:black" class="text-center"(click)= "getFilteredTask('REVIEW',item.studyId, item.totalReviewEstimatedTime, item.totalReviewActualTime)" [ngClass]="{'alert' : item.totalReviewActualTime > item.totalReviewEstimatedTime,'nah': item.reviewTimePer >= 80 && item.reviewTimePer < 100 && item.reviewTask == 'OPEN', 'closed': item.reviewTimePer >= 80 && item.reviewTimePer < 100 && item.reviewTask == 'CLOSED', 'fine': item.reviewTimePer < 80 && item.reviewTimePer > 0,   'hmm': item.reviewTimePer == 100 && item.reviewTask == 'CLOSED', 'statisfied': item.reviewTimePer == 100 && item.reviewTask == 'OPEN',  'nodata': item.reviewTimePer == 0 || item.reviewTimePer == 'NaN','blank' : item.totalReviewEstimatedTime > 0 && item.totalReviewActualTime == 0}">
                    <b>{{item.totalReviewEstimatedTime}} hrs - {{item.totalReviewActualTime}} hrs</b></td> 
                    <!-- {{item.totalReviewEstimatedTime}} hrs - {{item.totalReviewActualTime}} hrs ({{item.reviewTimePer}}) ({{item.reviewTask}})</td> -->
              </tr>
          </tbody>
          <tfoot align="left">
              <tr>
                  <td colspan="11">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                  </td>
              </tr>
          </tfoot>
        </table>
        </div>
      </div>


      <ng-container *ngIf="showTaskSpinner > 0">
            <div id="loader"></div>
          </ng-container>
    <div *ngIf="tableClicked">
     <h4>Total Tasks: {{totalRecords}} </h4>
          <div class="panel panel-default panel-body"  >
                <div class="table-responsive">    
                  <table class="table table-hover" [mfData]="filteredTaskList" #mf="mfDataTable" [mfRowsOnPage]="10">
                      <thead>
                          <tr>
                               <th>
                              <mfDefaultSorter by="type">Type</mfDefaultSorter>
                                  </th>
                              <th width="5%">
                                  <mfDefaultSorter by="taskId">#ID </mfDefaultSorter>
                              </th>                
                              <th>
                                  <mfDefaultSorter by="name">Title</mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="studyName">Study</mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="deliverableName">Deliverable</mfDefaultSorter>
                              </th>  
                               <th>
                                  <mfDefaultSorter by="linkedDeliverableId">Linked Deliverables</mfDefaultSorter>
                                </th> 
                                <th>
                                    <mfDefaultSorter by="estimatedTime">Estimated Time</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="actualTime">Actual Time</mfDefaultSorter>
                                 </th>
                              <th>
                                  <mfDefaultSorter by="createdDate">Created</mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                              </th>   
                              <th>
                                  <mfDefaultSorter by="assigneeName">Assignee</mfDefaultSorter>
                              </th>   
                              <th>
                                  <mfDefaultSorter by="status">Status</mfDefaultSorter>
                              </th>               
                          </tr>
                      </thead>
              
                       <tbody>            
                          <tr *ngFor="let item of filteredTaskList; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                              <td><div class="badge bg-gray-lighter">{{item.type}}</div></td>
                              <td><a (click)="editRow(item)">#{{item.taskId}}</a></td>                 
                              <td width="10%">{{item.name}}</td>  
                              <td>{{item.studyName}}</td>                 
                              <td>{{item.deliverableName}}</td>  
                              <td><div *ngFor="let item  of item.linkedDeliverables; let i = index">{{i+1}}) {{item.deliverableName}}</div></td>  
                              <td>{{item.estimatedTime != null ? item.estimatedTime : 0 }} hrs</td>  
                              <td>{{item.actualTime != null ? item.actualTime : 0 }} hrs</td>  
                              <td>{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
                              <td>{{item.priority}}</td>  
                              <td>{{item.assigneeName}}</td> 
                              <td ><div class="badge" [ngClass]="{'new' : item.status == 'NEW', 'inprogress' : item.status == 'INPROGRESS', 'closed' : item.status == 'CLOSED', 'resolved' : item.status == 'RESOLVED', 'duplicated' : item.status == 'DUPLICATED' }">{{item.status}}</div></td>      
                          </tr>
                      </tbody>
              
                      <tfoot align="left">
                          <tr>
                              <td colspan="16">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
                  
            </div>
        </div>


</div>