
<!--<div class="toolbar">
<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <i class="fa fa-file-excel-o" aria-hidden="true">&nbsp;Excel</i>&nbsp;<span class="caret"></span>
  </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Export All</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Page</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Selected</a></li>
    </ul>
</div>
<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <i class="fa fa-file-pdf-o" aria-hidden="true">&nbsp;PDF</i>&nbsp;<span class="caret"></span>
  </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
       <li role="menuitem"><a class="dropdown-item" href="#">Export All</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Page</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Selected</a></li>
    </ul>
</div>
<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    <i class="fa fa-file-excel-o" aria-hidden="true">&nbsp;CSV</i>&nbsp;<span class="caret"></span>
  </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" href="#">Export All</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Page</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Export Selected</a></li>
    </ul>
</div>
</div>-->
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<!--<h4 class="text-center">Table Details: {{screenName}}</h4>-->
<ng-container genericTable></ng-container>