.open {
    background-color: red;
}

.closed {
    background-color :rgb(22, 223, 22);
}
.nodata {
    background-color: rgb(219, 211, 211);
}

.new {
    background-color: red; 
}
.inprogress {
    background-color: rgb(236, 236, 11);
}

//AT = 0 and ET > 0
.blank{
    background-color :rgb(22, 223, 22);
}
.resolved {
    background-color: rgb(212, 171, 171);
}

.duplicated{
    background-color: rgb(168, 247, 11);
}


// alert-> AT>ET(No need to check Sttaus)
.alert {
    background-color: red;
}

//nah -> AT >=80(open)
.nah {
    background-color: yellow;
}
//fine -> AT <80
.fine {
    background-color: rgb(22, 223, 22);
}
//AT=100(Opne)
.notstatisfied {
    background-color: yellow;
}
//AT=100(closed)
.hmm{
    background-color: rgb(22, 223, 22);
}