
<!--<div class="content-heading">Bridge Scheduler</div>-->
<div *ngIf="visible" >
  <div class="col-lg-6">
      <!-- START widget-->
      <div class="panel panel-default" id="panelChart9">
          <div class="panel-heading">
                 
                  <span class="pull-right">
                          <a (click)="removePanel()">
                              <em class="fa fa-times text-muted text-right"></em>
                          </a>
                      </span>
                      <br>
                  
              <div class="panel-title">
                  <h4 class="pull-left">Task count by user and task type</h4>
                  <h4 class="pull-right">Total records: {{this.totalRecords}} </h4>
                  
              </div>
          </div>
          <div class="dashboardGrid">
                  <table class="table table-hover" [mfData]="singleData" #mf="mfDataTable">
                      <thead>
                          <tr>
                              <th>
                                  <mfDefaultSorter by="bridgeName">Study Name</mfDefaultSorter>
                              </th>                                           
                              <th>
                                  <mfDefaultSorter by="bridgeName">Deliverable Name</mfDefaultSorter>
                              </th>                                           
                              <th>
                                  <mfDefaultSorter by="bridgeName">User Name</mfDefaultSorter>
                              </th>                                           
                              <th>
                                  <mfDefaultSorter by="bridgeName">Task Type</mfDefaultSorter>
                              </th>                                           
                              
                              <th>
                                <mfDefaultSorter by="description">Task Count</mfDefaultSorter>
                            </th>
                          </tr>
                      </thead>
                      <tbody>            
                        <tr *ngFor="let item of mf.data; let i = index"   [class.active]="i == selectedRow" >
                            <td>{{item.studyName}}</td>                        
                            <td>{{item.deliverableName}}</td>
                            <td>{{item.userName}}</td>                            
                            <td>{{item.taskType}}</td>
                            <td>{{item.taskCount}}</td>
                        </tr>
                    </tbody>
                  </table>
                  </div>
      </div>
  </div>
</div>