<div class="content-heading">Dashboard</div>

<!--     <div class="row">            
        <app-task-tree-view-dashboard> </app-task-tree-view-dashboard>
    </div> -->
 
   <div class="row">            
        <app-para-pie-chart-dashboard [dTaskCntByType]="dTaskCntByType"> </app-para-pie-chart-dashboard>
    </div>

    <div class="row">            
        <app-para-status-pie-chart-dashboard [dTaskCntByStatus]="dTaskCntByStatus"> </app-para-status-pie-chart-dashboard>
    </div>
 
    <div class="row">
        <app-count-by-user-table-dashboard [dashboardCntByUser]="dashboardCntByUser">  </app-count-by-user-table-dashboard>
        <app-count-by-user-ntype-table-dashboard [dashboardCntByUserNType]="dashboardCntByUserNType">  </app-count-by-user-ntype-table-dashboard>
    </div>
 
<div>


<!-- <div>
    <div *appHasaccess="bridgePrivilege.view">
        <app-bridge-summary [totalActiveBridges]="totalActiveBridges"
                            [totalBridgesRanLastHr]="totalBridgesRanLastHr"
                            [failedLastHour]="failedLastHour"></app-bridge-summary>
    </div>

    

    <ng-container *ngIf="showSpinner > 0">
            <div id="loader"></div>
    </ng-container>  

    <div *appHasaccess="bridgePrivilege.bridgeStatus">
        <app-bridge-transaction-counts></app-bridge-transaction-counts>
    </div>

    <div *appHasaccess="viewAccess">
        <app-bridge-scheduler-dash></app-bridge-scheduler-dash>
    </div>

    <app-config-widget [dashboardData]="dashboardData" 
                    [edcPrivilege]="edcPrivilege" 
                    [trialPrivilege]="trialPrivilege"
                    [dbNamePrivilege]="dbNamePrivilege"
                    [dbServerPrivilege]="dbServerPrivilege"></app-config-widget>
</div> -->

