
<div class="content-heading">Deliverable Details</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>
  </div>
  <div class="panel-body">
    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitCreateDeliverableForm($event, valForm.value)" novalidate="">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Deliverable Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="deliverableName" [formControl]="valForm.controls['deliverableName']" />
            <span class="text-danger" *ngIf="valForm.controls['deliverableName'].hasError('required') && (valForm.controls['deliverableName'].dirty || valForm.controls['deliverableName'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Deliverable Code</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="deliverableCode" [formControl]="valForm.controls['deliverableCode']" />
            <span class="text-danger" *ngIf="valForm.controls['deliverableCode'].hasError('required') && (valForm.controls['deliverableCode'].dirty || valForm.controls['deliverableCode'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
      
       <fieldset> 
        <div class="form-group">
          <label class="col-sm-2 control-label">Deliverable Type</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="deliverableType" [formControl]="valForm.controls['deliverableType']" />
            <span class="text-danger" *ngIf="valForm.controls['deliverableType'].hasError('required') && (valForm.controls['deliverableType'].dirty || valForm.controls['deliverableType'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Scope</label>
          <div class="col-sm-8">
              <select class="form-control" formControlName="scope" [formControl]="valForm.controls['scope']">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option>GLOBAL</option>
                  <option>LOCAL</option>   
              </select>
            <span class="text-danger" *ngIf="valForm.controls['scope'].hasError('required') && (valForm.controls['scope'].dirty || valForm.controls['scope'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label"> Description</label>
          <div class="col-sm-8">
            <textarea rows="2" class="form-control" formControlName="deliverableDescription" [formControl]="valForm.controls['deliverableDescription']" ></textarea>  
            <span class="text-danger" *ngIf="valForm.controls['deliverableDescription'].hasError('required') && (valForm.controls['deliverableDescription'].dirty || valForm.controls['deliverableDescription'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
       
      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
