<!-- <div class="content-heading">Select / Set Task</div> -->
<div class="content-heading">Tasks List</div>
<h4>Task Search</h4>
<div class="panel panel-default">
<ng-container *ngIf="showSpinnerRese > 0">
        <div id="loader"></div>
  </ng-container>
<div class="panel-body">
  <form [formGroup]="searchForm" class="form-validate form-horizontal" (submit)="submitForm($event, searchForm.value)" novalidate="">
        <div class="form-group">                                          
          <div class="row"> 
             <label class="col-sm-1 control-label ">Study</label>                
              <div class="col-sm-2">
                <select class="form-control" formControlName="studyId" [formControl]="searchForm.controls['studyId']" (change)="onStudyChange($event.target.value)">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let study of studyList let i = index" [value]="study.studyId">{{study.studyName}} </option>
                  </select>
              </div>

              <label class="col-sm-2 control-label">Deliverable</label>                        
              <div class="col-sm-2">
                	<select class="form-control" formControlName="deliverableId" [formControl]="searchForm.controls['deliverableId']">                   
                            <option [value] = null disabled >Please select ...</option>
                            <option *ngFor="let item of allDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                            <option *ngFor="let item of assigndeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                        </select>
              </div>
              <label class="col-sm-2 control-label ">Linked Deliverable</label>                
              <div class="col-sm-2">
                <select class="form-control" formControlName="linkedDeliverableId" [formControl]="searchForm.controls['linkedDeliverableId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let item of linkedDeliverablesList" [value]="item.deliverableId">{{item.deliverableName}}</option>
                  </select>
              </div>
          </div>
        </div>
      
        <div class="form-group">                          
                        
          <div class="row">      
                <label class="col-sm-1 control-label">Type</label>           
                <div class="col-sm-2">
                        <select class="form-control" formControlName="type" [formControl]="searchForm.controls['type']">                  
                              <option [value] = null disabled >Please select ...</option>
                              <option *ngFor="let taskType of taskTypeList let i = index" [value]="taskType.taskType"> {{taskType.taskType}} </option>
                          </select>
                      </div>
             <label class="col-sm-2 control-label">Priority</label>                        
                  <div class="col-sm-2">
                    <select class="form-control" formControlName="priority" [formControl]="searchForm.controls['priority']">                  
                          <option [value] = null disabled >Please select ...</option>
                          <option *ngFor="let taskPriority of taskPriorityList let i = index" [value]="taskPriority">{{taskPriority}}</option>
                      </select>
                  </div> 
              <label class="col-sm-2 control-label">Status</label>   
              <div class="col-sm-2">
                    <select class="form-control " formControlName="status" [formControl]="searchForm.controls['status']">                  
                          <option [value] = null disabled >Please select ...</option>
                          <option *ngFor="let taskStatus of taskStatusList let i = index" [value]="taskStatus">{{taskStatus}}</option>
                      </select>
                  </div>                  
              
          </div>
        </div>
        
     <div class="form-group">  
            <div class="row">
            <label class="col-sm-1 control-label">Assignee</label>                        
            <div class="col-sm-2">
              <select class="form-control" formControlName="assigneeId" [formControl]="searchForm.controls['assigneeId']">                  
                    <option [value] = null disabled >Please select ...</option> 
                    <option *ngFor="let item of allUsersList" [value]="item.userIdPk">{{item.userName}}</option>
                    <option *ngFor="let item of assignUsersList" [value]="item.userId">{{item.userName}}</option>
                </select>
            </div>    
        <div class="col-sm-8" style="margin-left: 90px ">
            <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="button" (click)="search()">
                <span class="btn btn-label"><i class="fa fa-search"></i></span>Search
            </button>

            <button class="btn btn-labeled btn-info btn-sm" style="margin-left: 5px"type="button" (click)="reset()">
                <span class="btn btn-label"><i class="fa fa-refresh"></i></span>Reset
            </button>
      </div>
  </div>
</div>
  </form>
</div>
</div>




<h4>Total Tasks: {{totalRecords}} </h4>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
    <div class="col-xs-6 col-md-6 text-right"> 
            <button  class="btn btn-labeled btn-info btn-sm" type="button" (click)="refresh()">
                    <span class="btn-label"><i class="fa fa-list-ul"></i></span>
                    All </button>
            <button  class="btn btn-labeled btn-info btn-sm" type="button" (click)="TaskByAssignee()">
                    <span class="btn-label"><i class="fa fa-user"></i></span>
                    My Issues </button>
            <button *appHasaccess="createAccess" class="btn btn-labeled btn-info btn-sm" type="button" (click)="addNew()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Add New</button>
            <button class="btn btn-labeled btn-info btn-sm " type="button" (click)="refresh()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                Refresh
            </button>
    </div>
</div>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel b">
  <div class="panel-body">
  <div class="table-responsive">    
    <table class="table table-hover" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                 <th>
                <mfDefaultSorter by="type">Type</mfDefaultSorter>
                    </th>
                <th>
                    <mfDefaultSorter by="taskId">#ID </mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="name">Title</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="studyName">Study</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="deliverableName">Deliverable</mfDefaultSorter>
                </th>  
                <th>
                    <mfDefaultSorter by="linkedDeliverableId">Linked Deliverables</mfDefaultSorter>
                    </th> 
                <th>
                    <mfDefaultSorter by="estimatedTime">Estimated Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="actualTime">Actual Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="createdDate">Created</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="assigneeName">Assignee</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>               
            </tr>
        </thead>

         <tbody>            
            <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                
                <!-- <td *appHasaccess="writeAccess">
                    <button class="btn btn-danger btn-xs" title="update" (click)="editRow(item)">
                        <span class="fa fa-pencil"></span>
                    </button>
                </td>                
                <td *appHasaccess="deleteAccess">
                    <button class="btn btn-danger btn-xs" title="remove" (click)="removeItem(item)">                    
                        <span class="fa fa-times"></span>
                    </button>
                </td> -->
                <td><div class="badge bg-gray-lighter">{{item.type}}</div></td>
                <!-- <td><a (click)="editRow(item)">#{{item.taskId}}-{{item.studyCode}}-{{item.deliverableCode}}-{{item.type}}</a></td>    -->
                <td><a (click)="editRow(item)">#{{item.taskId}}</a></td>                 
                <td width="10%">{{item.name}}</td>  
                <td>{{item.studyName}}</td>                 
                <td>{{item.deliverableName}}</td>  
                <td><div *ngFor="let item  of item.linkedDeliverables; let i = index">{{i+1}}) {{item.deliverableName}}</div></td>  
                <td>{{item.estimatedTime != null ? item.estimatedTime : 0 }} hrs</td>  
                <td>{{item.actualTime != null ? item.actualTime : 0 }} hrs</td> 
                <td>{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
                <td>{{item.priority}}</td>  
                <td>{{item.assigneeName}}</td> 
                <td ><div class="badge" [ngClass]="{'new' : item.status == 'NEW', 'inprogress' : item.status == 'INPROGRESS', 'closed' : item.status == 'CLOSED', 'resolved' : item.status == 'RESOLVED', 'duplicated' : item.status == 'DUPLICATED' }">{{item.status}}</div></td>      
            </tr>
        </tbody>

        <tfoot align="left">
            <tr>
                <td colspan="16">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    
    <div class="modal" bsModal #cantCreateSubTaskModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantCreateSubTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Edit</h4>
                </div>
                <div class="modal-body">
                    You can not create sutask of this task as this task is already level 2. 
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantCreateSubTaskModal.hide()">OK</button>
                       </div>
                   </div>
                </div>
            </div>
         </div>
      </div>
    </div>
</div>