

.new {
    background-color: red; 
}
.inprogress {
    background-color: rgb(236, 236, 11);
}

.closed {
    background-color : rgb(27, 209, 27);
}
.resolved {
    background-color: rgb(212, 171, 171);
}

.duplicated{
    background-color: rgb(168, 247, 11);
}