<div class="content-heading">Study Management Details</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-heading">
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
            <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
            Back
        </button>
    </div>

    <div class="col-md-12">
    <div class="panel b">
    <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Study Details</div>
    <div class="panel-body">
        <div class="col-sm-5">
        <table >
            <tr>
            <th>Study Name: {{ study.studyName }} </th>
            </tr>
        </table>  
        </div>                        
    </div>
    </div>
    </div>

    <div *appHasaccess="appUserPrivilege.view">
    <div class="col-md-4">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Users</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">User Name</th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="text-center">{{ user.userName }}</td> 
                            <td class="text-center">{{ user.firstName }}</td> 
                            <td class="text-center">{{ user.lastName }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div *appHasaccess="deliverablePrivilege.view">
    <div class="col-md-4">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Deliverables</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Code</th>
                            <th class="text-center">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let deliverable of deliverables">
                            <td class="text-center">{{ deliverable.deliverableName }}</td> 
                            <td class="text-center">{{ deliverable.deliverableCode }}</td> 
                            <td class="text-center">{{ deliverable.deliverableType }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div *appHasaccess="groupPrivilege.view">
    <div class="col-md-4">
        <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold text-center" style="color : #00c3ff !important;">Groups</div>
        <div style="overflow-y: auto; height: 300px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of groups">
                            <td class="text-center">{{ group.name }}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>