//
// This file compiles to a custom eBridge stylesheet
//

.displayGrid{
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 400px;
  background: white;
}

.dashboardGrid{
overflow-x: auto;
overflow-y: auto;
width: 100%;
height: 200px;
background: white;
}

.notificationGrid{
overflow-x: auto;
overflow-y: auto;
width: 100%;
height: 385px;
background: white;
}

/* Center the loader */
#loader {
position: absolute;
left: 40%;
top: 50;
z-index: 1;
margin: auto;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 50;
  top: 50;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */    
}

//table column resize

.app-table {
  overflow-y: auto;
  overflow-x: auto;
  height: 500px;

  table {
      padding: 0;
      border: 1px solid #ddd;
      background: white;
      thead tr th {
          position: relative;
          border-right: 1px solid #ddd;
      }
      tbody tr td {
          position: relative;
          border-right: 1px solid #ddd;
      }
      span.ui-column-resizer {
          display: block;
          position: absolute;
          color: red;
          top: 0;
          right: 0;
          margin: 0;
          width: 8px;
          height: 100%;
          padding: 0;
          cursor: col-resize;
          border: 1px solid transparent;
      }
      .generic-header{
              background: #ddd;
      }
      .generic-filter-row {
          padding: 0;
      }
      .generic-filter {
          width: 100%;
          border: 0px solid black;
      }
  }
}