<ng-container *ngIf="showSpinner > 0">
    <div id="loader"></div>
</ng-container>
<form (submit)="submitEvents()">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold">Events</div>
        <div class="panel-body bb">
            <fieldset>
                <div class="form-group">
                    
                    <div class="text-center">
                    <div class="col-sm-5">
                        <h5> Available Events: {{ eventList.length }} </h5>
                        <select multiple (change)="changeEventList($event.target)" style="width:100%; height:200px;">
                          <option *ngFor="let item of eventList" [value]="item.id">{{item.description}}</option>
                        </select>
                    </div> 
                    <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                        <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllEvents()" >
                        <span class="fa fa-forward"></span>              
                        </button>
                        <br><br>
                        <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deselectAllEvents()" >
                        <span class="fa fa-backward"></span>              
                        </button>
                    </div> 
                    <div class="col-sm-5">
                        <h5> Assigned Events: {{ assignedEventList.length }} </h5> 
                        <select multiple (change)="changeAssignedEventList($event.target)" style="width:100%; height:200px;">
                        <option *ngFor="let item of assignedEventList" [value]="item.id">{{item.description}}</option>
                        </select>            
                    </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="text-center">        
                <button class="btn btn-labeled btn-info" type="submit">
                    <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
                </button>
            </div> 
        </div>
        <!--<div class="panel-body">
            <button class="btn btn-info" type="button">Update notifications</button>
        </div>-->
        
    </div>
</form>