<ng-container *ngIf="showSpinner > 0">
    <div id="loader"></div>
</ng-container>
<form (submit)="submitEvents()">
    <div class="panel b">
        <div class="panel-heading bg-gray-lighter text-bold">KRI Rules</div>
        <div class="panel-body bb">
            <fieldset>
                <div class="form-group">
                    
                    <div class="text-center">
                      
                        <div style="overflow-y: auto; width: 300px;height: 200px;">
                            
                            <table class="table table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>KRI Rule</th>
                                        <th>Pass</th>                            
                                        <th>Fail</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let rule of KRIrules"> 
                                                                                               
                                        <td>{{rule.kriRuleName}}</td>
                                        <td style="width : 10px;"><input type="checkbox" [checked]="rule.rulePass == 1" value="pass" (change)="onKRISelection($event, rule)"/></td>
                                        <td style="width : 10px;"><input type="checkbox" [checked]="rule.ruleFail == 1"  value="fail" (change)="onKRISelection($event, rule)"/></td>
                                    </tr>    
                                </tbody> 
                            
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
            
            <div class="text-center">        
                <button class="btn btn-labeled btn-info" type="submit">
                    <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
                </button>
            </div> 
        </div>

        <!-- [checked]="rule.ruleFail == 1" -->
    </div>
</form>