<div class="content-heading">Users</div>
<h4>Total Users : {{userStat.totalUsers}} &nbsp;&nbsp; Active Users : {{userStat.activeUsers}} &nbsp;&nbsp; Total Licenses : {{userStat.totalLicenses}} &nbsp;&nbsp; Available Licenses : {{userStat.availableLicenses}}  </h4>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
     
    <div class="col-xs-6 col-md-4 text-right" > 
            <button  *appHasaccess="createAccess" class="btn btn-labeled btn-info btn-sm" type="button" (click)="addNew()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
            Add New</button>

            <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="refresh()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                Refresh
            </button>
    </div>
</div>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="app-table"> 
  <div class="displayGrid">    
    <table class="table table-bordered table-hover" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th   *appHasaccess="writeAccess" width="5%"></th>                
                <th width="5%"></th>                
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="userName">User Name</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
                </th>                            
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="Last Name">Last Name</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="active">Active</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="accountLocked">Account Locked</mfDefaultSorter>
                </th>                
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="createdBy">Created By</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="modifiedBy">Modified By</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="createdDate">Created Date</mfDefaultSorter>
                </th>
                <th>
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter by="modifiedDate">Modified Date</mfDefaultSorter>
                </th>              
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                <td  *appHasaccess="writeAccess" >
                    <button class="btn btn-danger btn-xs" title="update" (click)="editRow(item)">
                        <span class="fa fa-pencil"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" title="info" (click)="info(item)">
                        <span class="fa fa-info-circle"></span>
                    </button>
                </td>
                             
                <td>{{item.userName}}</td>                
                <td>{{item.firstName}}</td>    
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.active==1 ? 'Yes' : 'No'  }}</td>
                <td>{{item.accountLocked}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.modifiedBy}}</td>
                <td>{{item.createdDate}}</td>
                <td>{{item.modifiedDate}}</td>
            </tr>
        </tbody>
        <tfoot align="left">
            <tr>
                <td colspan="11">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
 </div>
</div>