<div class="content-heading">Study Details</div>
<div class="panel panel-default">
  <div class="panel-heading ">
    <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>
  </div>
  <div class="panel-body">
    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitCreateStudyForm($event, valForm.value)" novalidate="">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Study Name</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="studyName" [formControl]="valForm.controls['studyName']" />
            <span class="text-danger" *ngIf="valForm.controls['studyName'].hasError('required') && (valForm.controls['studyName'].dirty || valForm.controls['studyName'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Study Short Code</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="studyCode" [formControl]="valForm.controls['studyCode']" />
            <span class="text-danger" *ngIf="valForm.controls['studyCode'].hasError('required') && (valForm.controls['studyCode'].dirty || valForm.controls['studyCode'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
      

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Study Title</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="studyTitle" [formControl]="valForm.controls['studyTitle']" />
            <span class="text-danger" *ngIf="valForm.controls['studyTitle'].hasError('required') && (valForm.controls['studyTitle'].dirty || valForm.controls['studyTitle'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Clinical Phase</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="clinicalPhase" [formControl]="valForm.controls['clinicalPhase']" />
            <span class="text-danger" *ngIf="valForm.controls['clinicalPhase'].hasError('required') && (valForm.controls['clinicalPhase'].dirty || valForm.controls['clinicalPhase'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Therapeutic Area </label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="therapeuticArea" [formControl]="valForm.controls['therapeuticArea']" />
            <span class="text-danger" *ngIf="valForm.controls['therapeuticArea'].hasError('required') && (valForm.controls['therapeuticArea'].dirty || valForm.controls['therapeuticArea'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Study Description</label>
          <div class="col-sm-8">
            <!-- <input class="form-control" type="text" formControlName="studyDescription" [formControl]="valForm.controls['studyDescription']" /> -->
            <textarea rows="2" class="form-control" formControlName="studyDescription" [formControl]="valForm.controls['studyDescription']" ></textarea>  
            <span class="text-danger" *ngIf="valForm.controls['studyDescription'].hasError('required') && (valForm.controls['studyDescription'].dirty || valForm.controls['studyDescription'].touched)">This field is required</span>
          </div>
          <div class="col-sm-2">
            <small class="text-muted">required</small>
          </div>
        </div>
      </fieldset>
      

      
      <!-- <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="studyDesc" [formControl]="valForm.controls['studyDesc']" />            
          </div>          
        </div>
      </fieldset> -->
      
<!--       <fieldset>
        <div class="form-group">
          <label class="col-sm-2 control-label">Active</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="active" [formControl]="valForm.controls['active']">
                <option value = null disabled >Please select ...</option>
                <option value= "1">Yes</option>
                <option value= "0">No</option>                                        
              </select>
              <span class="text-danger" *ngIf="valForm.controls['active'].hasError('required') && (valForm.controls['active'].dirty || valForm.controls['active'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
              <small class="text-muted">required</small>
            </div>
        </div>
      </fieldset>
 -->  

      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class=" btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>
  </div>
</div>