<div class="modal" bsModal #popModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" [ngClass]="popupHeaderClass">
                    <button type="button" class="close" aria-label="Close" (click)="popModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{popupTitle}}</h4>
                </div>
                <div class="modal-body">
                    {{popupBody}}
                    <br><br>
                    <div class="text-center">                        
                        <button class="btn" [ngClass]="popupButtonClass" type="button" (click)="popModal.hide()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
</div>