<div class="content-heading">Impact Assessment Report</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm($event, valForm.value)" novalidate=""> 

    <fieldset>
      <div class="form-group">
        <div class="row">
        <label class="col-sm-2 control-label"> Select Deliverable</label>
        <div class="col-sm-6">
          <select class="form-control" formControlName="deliverableId" [formControl]="valForm.controls['deliverableId']" (change)="onDeliverableSelect()">                   
                <option [value] = null disabled >Please select ...</option>
                <option *ngFor="let deliverable of deliverableList let i = index" [value]="deliverable.deliverableId">{{deliverable.deliverableName}}</option>
          </select>
        </div>
        <button class="btn btn-labeled btn-info" [disabled]="submitted" type="button" (click)="runImpactAssessment()">
            <span class="btn btn-label"><i class="fa fa-play"></i></span>Run Impact Assessment
        </button>

        <button class="btn btn-labeled btn-info" type="button" (click)="reset()">
            <span class="btn btn-label"><i class="fa fa-refresh"></i></span>Reset
        </button>
    </div>
  </div>
</fieldset>
 </form>



<!-- <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
    <div class="col-xs-6 col-md-6 text-right"> 
            <button  class="btn btn-labeled btn-info btn-sm" type="button" (click)="refresh()">
                    <span class="btn-label"><i class="fa fa-list-ul"></i></span>
                    All </button>
            <button  class="btn btn-labeled btn-info btn-sm" type="button" (click)="TaskByAssignee()">
                    <span class="btn-label"><i class="fa fa-user"></i></span>
                    My Issues </button>
            <button *appHasaccess="createAccess" class="btn btn-labeled btn-info btn-sm" type="button" (click)="addNew()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Add New</button>
            <button class="btn btn-labeled btn-info btn-sm " type="button" (click)="refresh()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                Refresh
            </button>
    </div>
</div> -->
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<div *ngIf="runImpactClicked">
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
        <div class="panel panel-default panel-body"  >
          <div class="table-responsive">    
            <table class="table table-hover" [mfData]="impactedTaskListStaticsByType" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th>
                        <mfDefaultSorter by="type">Task Type</mfDefaultSorter>
                         </th>
                        <th>
                            <mfDefaultSorter by="count">Task Count</mfDefaultSorter>
                        </th>                
                        <th>
                            <mfDefaultSorter by="totalEstimationTime">Total Estimation Time</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="totalActualTime">Total Actual Time</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="studyCount">Total Unique Studies</mfDefaultSorter>
                        </th>  
                        <th>
                            <mfDefaultSorter by="toatlUsers">Total Unique Users</mfDefaultSorter>
                         </th>  
                    </tr>
                </thead>
            <tbody>            
             <tr *ngFor="let item of impactedTaskListStaticsByType; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">         
               <td><div class="badge bg-gray-lighter">{{item.taskType}}</div></td>
               <td>{{item.taskCount}}</td>
               <td>{{item.totalEstimationTime}} hrs</td>
               <td>{{item.totalActualTime}} hrs</td>
               <td>{{item.studyCount}}</td>
               <td>{{item.userCount}}</td>
                </tr> 
             </tbody>
                <tfoot align="left">
                    <tr>
                        <td colspan="6">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>
          </div>
     
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel panel-default panel-body"  >
<div class="table-responsive">    
    <table class="table table-hover " [mfData]="totalImpactedTaskListStatics" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th>
                <mfDefaultSorter by="type">Task Type</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="count">Task Count</mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="totalEstimationTime">Total Estimation Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="totalActualTime">Total Actual Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="studyCount">Total Unique Studies</mfDefaultSorter>
                </th>  
                <th>
                    <mfDefaultSorter by="toatlUsers">Total Unique Users</mfDefaultSorter>
                </th>  
            </tr>
        </thead>
    <tbody>            
    <tr *ngFor="let item of totalImpactedTaskListStatics; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">         
        <td>{{item.taskType}}</td>
        <td>{{item.taskCount}}</td>
        <td>{{item.totalEstimationTime}} hrs</td>
        <td>{{item.totalActualTime}} hrs</td>
        <td>{{item.studyCount}}</td>
        <td>{{item.userCount}}</td>
        </tr> 
    </tbody>
        <tfoot align="left">
            <tr>
                <td colspan="6">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
</div>

<ng-container *ngIf="showSpinner > 0">
        <div id="loader"></div>
</ng-container>
<h4>Total Tasks: {{totalTaskRecords}} </h4>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel b">
  <div class="panel-body">
  <div class="table-responsive">    
    <table class="table table-hover" [mfData]="taskList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                 <th>
                <mfDefaultSorter by="type">Type</mfDefaultSorter>
                    </th>
                <th width="5%">
                    <mfDefaultSorter by="taskId">#ID </mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="name">Title</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="studyName">Study</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="deliverableName">Deliverable</mfDefaultSorter>
                </th>  
                <th>
                    <mfDefaultSorter by="linkedDeliverableId">Linked Deliverables</mfDefaultSorter>
                    </th> 
                <th>
                    <mfDefaultSorter by="estimatedTime">Estimated Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="actualTime">Actual Time</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="createdDate">Created</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="assigneeName">Assignee</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>               
            </tr>
        </thead>

         <tbody>            
            <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                
                <td><div class="badge bg-gray-lighter">{{item.type}}</div></td>
                <td><a (click)="editRow(item)">#{{item.taskId}}</a></td>                 
                <td width="10%">{{item.name}}</td>  
                <td width="7%">{{item.studyName}}</td>                 
                <td>{{item.deliverableName}}</td>  
                <td><div *ngFor="let item  of item.linkedDeliverables; let i = index">{{i+1}}) {{item.deliverableName}}</div></td>  
                <td>{{item.estimatedTime != null ? item.estimatedTime : 0 }} hrs</td>  
                <td>{{item.actualTime != null ? item.actualTime : 0 }} hrs</td> 
                <td>{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
                <td>{{item.priority}}</td>  
                <td>{{item.assigneeName}}</td> 
                <td ><div class="badge" [ngClass]="{'new' : item.status == 'NEW', 'inprogress' : item.status == 'INPROGRESS', 'closed' : item.status == 'CLOSED', 'resolved' : item.status == 'RESOLVED', 'duplicated' : item.status == 'DUPLICATED' }">{{item.status}}</div></td>      
            </tr>
        </tbody>

        <tfoot align="left">
            <tr>
                <td colspan="16">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
  </div>
</div>
</div>

  