<div class="content-heading">Select / Set Issue</div>
<div class="panel panel-default">
  
  <div class="panel-heading" >
    <div class="text-right" >    
    <button class="btn btn-labeled btn-info" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>
    </div>
  </div>

<div class="panel-body">
  <form [formGroup]="searchForm" class="form-validate form-horizontal" (submit)="submitForm($event, searchForm.value)" novalidate="">
      <fieldset>
        <div class="form-group">                    
          <label class="col-sm-2 control-label">Study</label>                        
          <div class="row">                
              <div class="col-sm-2">
                <select class="form-control" formControlName="studyId" [formControl]="searchForm.controls['studyId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let target of targetList let i = index"  [value]="target.studyId">'Study' </option>
                  </select>
                <span class="text-danger" *ngIf="searchForm.controls['studyId'].hasError('required') && (searchForm.controls['studyId'].dirty || searchForm.controls['studyId'].touched)">This field is required</span>
              </div>

              <label class="col-sm-2 control-label">Deliverable</label>                        
              <div class="col-sm-2">
                <select class="form-control" formControlName="deliverableId" [formControl]="searchForm.controls['deliverableId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let target of targetList let i = index"  [value]="target.deliverableId">'Study' </option>
                  </select>
                <span class="text-danger" *ngIf="searchForm.controls['deliverableId'].hasError('required') && (searchForm.controls['deliverableId'].dirty || searchForm.controls['deliverableId'].touched)">This field is required</span>
              </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">                          
        <label class="col-sm-2 control-label">Developement</label>                        
          <div class="row">                
              <div class="col-sm-2">
                <select class="form-control" formControlName="developmentId" [formControl]="searchForm.controls['developmentId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let target of targetList let i = index"  [value]="target.developmentId">'Study' </option>
                  </select>
                <span class="text-danger" *ngIf="searchForm.controls['developmentId'].hasError('required') && (searchForm.controls['developmentId'].dirty || searchForm.controls['developmentId'].touched)">This field is required</span>
              </div>

              <label class="col-sm-2 control-label">Quality Check</label>                        
              <div class="col-sm-2">
                <select class="form-control" formControlName="qualityTestId" [formControl]="searchForm.controls['qualityTestId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let target of targetList let i = index"  [value]="target.qualityTestId">'Study' </option>
                  </select>
                <span class="text-danger" *ngIf="searchForm.controls['qualityTestId'].hasError('required') && (searchForm.controls['qualityTestId'].dirty || searchForm.controls['qualityTestId '].touched)">This field is required</span>
              </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="form-group">                          
        <label class="col-sm-2 control-label">Status</label>                        
          <div class="row">                
              <div class="col-sm-2">
                <select class="form-control" formControlName="developmentId" [formControl]="searchForm.controls['developmentId']">                  
                      <option [value] = null disabled >Please select ...</option>
                      <option *ngFor="let target of targetList let i = index"  [value]="target.developmentId">'Study' </option>
                  </select>
                <span class="text-danger" *ngIf="searchForm.controls['developmentId'].hasError('required') && (searchForm.controls['developmentId'].dirty || searchForm.controls['developmentId'].touched)">This field is required</span>
              </div>

              <label class="col-sm-1 control-label">Start Date</label>                        
              <div class="col-sm-2">
                <input class="form-control" type="text" placeholder="Date" formControlName="startDate" [formControl]="searchForm.controls['startDate']" />
              </div>

              <label class="col-sm-1 control-label">End Date</label>
              <div class="col-sm-2">
                <input class="form-control" type="text" placeholder="Date" formControlName="endDate" [formControl]="searchForm.controls['endDate']" />
             </div>
             
          </div>
        </div>
      </fieldset>

    <div class="text-center">        
            <button class="btn btn-labeled btn-info" [disabled]="submitted" type="submit">
                <span class="btn btn-label"><i class="fa fa-check"></i></span>Search
            </button>

            <button class="btn btn-labeled btn-info" [disabled]="submitted" type="submit">
                <span class="btn btn-label"><i class="fa fa-check"></i></span>Search & Set
            </button>
    </div>

  </form>
</div>
</div>


<div class="content-heading">Issue list </div>
<h4>Total records: {{totalRecords}} </h4>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
    </div>
    <div class="col-xs-6 col-md-4 text-right"> 
            <button *appHasaccess="createAccess" class="btn btn-labeled btn-info" type="button" (click)="addNew()">
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Add New</button>
            <button class="btn btn-labeled btn-info" type="button" (click)="refresh()">
                <span class="btn-label"><i class="fa fa-refresh"></i></span>
                Refresh
            </button>
    </div>
</div>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="displayGrid">    
    <table class="table table-bordered table-hover" [mfData]="singleData" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
<!--                 <th *appHasaccess="writeAccess" width="5%"></th>
                <th *appHasaccess="deleteAccess" width="5%"></th>
 -->                <th>
                    <mfDefaultSorter by="hostName">Title</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="name">Description</mfDefaultSorter>
                </th>                            
                <th>
                    <mfDefaultSorter by="description">Assignee</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="active">Type</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="active">Priority</mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="active">Attachment</mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="createdBy">Created By</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="modifiedBy">Modified By</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="createdDate">Created Date</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="modifiedDate">Modified Date</mfDefaultSorter>
                </th>              
            </tr>
        </thead>

<!--         <tbody>            
            <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                <td *appHasaccess="writeAccess">
                    <button class="btn btn-danger btn-xs" title="update" (click)="editRow(item)">
                        <span class="fa fa-pencil"></span>
                    </button>
                </td>
                <td *appHasaccess="deleteAccess">
                    <button class="btn btn-danger btn-xs" title="remove" (click)="removeItem(item)">                    
                        <span class="fa fa-times"></span>
                    </button>
                </td>                                
                <td>{{item.hostName}}</td>                 
                <td>{{item.name}}</td>    
                <td>{{item.description}}</td>
                <td>{{item.active == 1 ? 'Yes' : 'No'}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.modifiedBy}}</td>
                <td>{{item.createdDate}}</td>
                <td>{{item.modifiedDate}}</td>
            </tr>
        </tbody>
 -->
        <tfoot align="left">
            <tr>
                <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="modal" bsModal #deleteModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Record</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this record? Once deleted, you cannot undo this action.
                    <br><br>
                    <div class="text-center">
                        <button class="btn btn-danger" type="button" (click)="delete()">Yes</button>
                        <button class="btn btn-danger" type="button" (click)="deleteModal.hide()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" bsModal #cantDeleteModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantDeleteModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Delete</h4>
                </div>
                <div class="modal-body">
                    You can not delete this configuration as it is being used by below Bridges. 
                    <br><br> 
                       Bridges : {{ bridgeName}} . 
                    <br> <br> Please change schedule status to 'NO' and perform action again.
                    <br><br>
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantDeleteModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" bsModal #cantEditModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantEditModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Edit</h4>
                </div>
                <div class="modal-body">
                    You can not edit this configuration as it is being used by below Bridges. 
                    <br><br> 
                       Bridges : {{ bridgeName}} . 
                    <br> <br> Please change schedule status to 'NO' and perform action again.
                    <br><br>
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantEditModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>