<div class="item user-block" *ngIf="userBlockIsVisible()">
   
    <!-- Name and Job-->
    <div class="user-block-info">
            <span class="user-block-name" style="color:white">{{ 'sidebar.WELCOME' | translate }}  {{ settings.user.name }}</span>
    </div>
</div>
