<div class="content-heading">User Details</div>
<ng-container *ngIf="showSpinner > 0">
  <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div class="panel panel-default" *ngIf="toUpdate == false">
  <div class="panel-heading">
    <h3 class="text-center">Create User</h3>
    <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>
  </div>
  <div class="panel-body">
    <form [formGroup]="createUserForm" class="form-validate form-horizontal" (submit)="submitCreateUserForm($event, createUserForm.value)" novalidate="">    
        <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="userName" [formControl]="createUserForm.controls['userName']" />
            <span class="text-danger" *ngIf="createUserForm.controls['userName'].hasError('required') && (createUserForm.controls['userName'].dirty || createUserForm.controls['userName'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
            <small class="text-muted">required</small>
            </div>
        </div>
        </fieldset>    
        <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Display Name</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" placeholder="First Name" formControlName="firstName" [formControl]="createUserForm.controls['firstName']" />
                            <span class="text-danger" *ngIf="createUserForm.controls['firstName'].hasError('required') && (createUserForm.controls['firstName'].dirty || createUserForm.controls['firstName'].touched)">This field is required</span>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName" [formControl]="createUserForm.controls['lastName']" />
                            <span class="text-danger" *ngIf="createUserForm.controls['lastName'].hasError('required') && (createUserForm.controls['lastName'].dirty || createUserForm.controls['lastName'].touched)">This field is required</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <small class="text-muted">required</small>
                </div> 
            <!--<div class="col-sm-8">
            <input class="form-control" type="text" formControlName="firstName" [formControl]="createUserForm.controls['firstName']" />
            <span class="text-danger" *ngIf="createUserForm.controls['firstName'].hasError('required') && (createUserForm.controls['firstName'].dirty || createUserForm.controls['firstName'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
            <small class="text-muted">required</small>
            </div>-->
        </div>
        </fieldset>
        <!--<fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="lastName" [formControl]="createUserForm.controls['lastName']" />
            <span class="text-danger" *ngIf="createUserForm.controls['lastName'].hasError('required') && (createUserForm.controls['lastName'].dirty || createUserForm.controls['lastName'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
            <small class="text-muted">required</small>
            </div>
        </div>
        </fieldset>-->
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contact</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" placeholder="Email (required)" formControlName="email" [formControl]="createUserForm.controls['email']" />
                            <span class="text-danger" *ngIf="createUserForm.controls['email'].hasError('email') && (createUserForm.controls['email'].dirty || createUserForm.controls['email'].touched)">Enter a valid email</span>
                            <span class="text-danger" *ngIf="createUserForm.controls['email'].hasError('required') && createUserForm.controls['email'].touched">This field is required</span>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" placeholder="Telephone" formControlName="telephone" [formControl]="createUserForm.controls['telephone']" />         
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>      
        <!--<fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="email" [formControl]="createUserForm.controls['email']" />
            <span class="text-danger" *ngIf="createUserForm.controls['email'].hasError('required') && (createUserForm.controls['email'].dirty || createUserForm.controls['email'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
            <small class="text-muted">required</small>
            </div>
        </div>
        </fieldset>    
        <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Telephone</label>
            <div class="col-sm-8">
            <input class="form-control" type="text" formControlName="telephone" [formControl]="createUserForm.controls['telephone']" />         
            </div>       
        </div>
        </fieldset>-->
        <fieldset>
            <div class="form-group" formGroupName="passwordGroup">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="password" placeholder="Enter Password" formControlName="password" [formControl]="createUserForm.get('passwordGroup.password')" />
                            <small class="text-muted">Password should have atleast one uppercase character, lowercase character, number, special character and Minimum length of the password should be upto 8 characters</small>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [formControl]="createUserForm.get('passwordGroup.confirmPassword')" />
                        </div>
                    </div>
                    <span class="text-mute" *ngIf="createUserForm.controls['email'].hasError('email') && (createUserForm.controls['email'].dirty || createUserForm.controls['email'].touched)">Enter a valid email</span>
                    <span class="text-danger" *ngIf="createUserForm.get('passwordGroup.password').hasError('required') && (createUserForm.get('passwordGroup.password').dirty || createUserForm.get('passwordGroup.password').touched)">This field is required</span>
                    <span class="text-danger" *ngIf="createUserForm.get('passwordGroup.confirmPassword').hasError('equalTo')">Password does not match</span>
                </div>
                <div class="col-sm-2">
                    <small class="text-muted">required</small>
                </div>            
            </div>
        </fieldset>   
        <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label">Active</label>
            <div class="col-sm-8">
                <select class="form-control" formControlName="active" [formControl]="createUserForm.controls['active']">
                <option value = null disabled >Please select ...</option>
                <option value= "1">Yes</option>
                <option value= "0">No</option>
                </select>
                <span class="text-danger" *ngIf="createUserForm.controls['active'].hasError('required') && (createUserForm.controls['active'].dirty || createUserForm.controls['active'].touched)">This field is required</span>
            </div>
            <div class="col-sm-2">
                <small class="text-muted">required</small>
            </div>
        </div>
        </fieldset>
        <fieldset>
            <h3 class="text-center">Role</h3>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <h5> Available Roles: {{availableRoleList.length}} </h5>
                    <select multiple (change)="changeRoleList($event.target)" style="width:100%; height:200px;">
                        <option *ngFor="let item of availableRoleList" [value]="item.roleIdPk">{{item.roleName}}</option>
                    </select>
                </div> 
                <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                    <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllRoles()" >
                        <span class="fa fa-forward"></span>              
                    </button>
                    <br><br>
                    <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deSelectAllRoles()" >
                        <span class="fa fa-backward"></span>              
                    </button>
                </div> 
                <div class="col-sm-5">
                    <h5> Assigned Roles: {{assignedRoleList.length}} </h5> 
                    <select multiple (change)="changeAssignedRoleList($event.target)" style="width:100%; height:200px;">
                        <option *ngFor="let item of assignedRoleList" [value]="item.roleIdPk">{{item.roleName}}</option>
                    </select>            
                </div>
            </div>
        </fieldset>

        <div class="text-center">        
            <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
                <span class="btn-label"><i class="fa fa-check"></i></span>Save
            </button>
            <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
                <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
            </button>
        </div>
    </form>
  </div>
</div>

<h4 class="text-center" *ngIf="toUpdate == true">User Name: {{user.userName}} </h4>
<div class="container-md" *ngIf="toUpdate == true">
    <div class="row">
        <div class="col-md-3">
            <div class="panel b">
                <div class="panel-heading bg-gray-lighter text-bold">Settings</div>
                <div class="list-group">
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Profile</a>
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}">Reset Password</a>
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}">Roles</a>
                    <!-- <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}">Notifications</a> -->
                    <a *ngIf="toUpdate == true" class="list-group-item" (click)="settingActive=5" [ngClass]="{'active': (settingActive == 5)}">Account</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div *ngIf="settingActive == 1">
                <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Profile</div>
                    <div class="panel-body">
                      <form [formGroup]="updateUserForm" class="form-validate form-horizontal" (submit)="submitUpdateUserForm($event, updateUserForm.value)" novalidate="">                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">User Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="userName" [formControl]="updateUserForm.controls['userName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['userName'].hasError('required') && (updateUserForm.controls['userName'].dirty || updateUserForm.controls['userName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="firstName" [formControl]="updateUserForm.controls['firstName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['firstName'].hasError('required') && (updateUserForm.controls['firstName'].dirty || updateUserForm.controls['firstName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="lastName" [formControl]="updateUserForm.controls['lastName']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['lastName'].hasError('required') && (updateUserForm.controls['lastName'].dirty || updateUserForm.controls['lastName'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="email" [formControl]="updateUserForm.controls['email']" />
                              <span class="text-danger" *ngIf="updateUserForm.controls['email'].hasError('required') && (updateUserForm.controls['email'].dirty || updateUserForm.controls['email'].touched)">This field is required</span>
                            </div>
                            <div class="col-sm-2">
                              <small class="text-muted">required</small>
                            </div>
                          </div>
                        </fieldset>                        
                        <fieldset>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Telephone</label>
                            <div class="col-sm-8">
                              <input class="form-control" type="text" formControlName="telephone" [formControl]="updateUserForm.controls['telephone']" />                             
                            </div>                           
                          </div>
                        </fieldset>
                        <div class="text-center">        
                          <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
                            <span class="btn-label"><i class="fa fa-check"></i></span>Save
                          </button>
                          <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
                            <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
                          </button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            
            <div *ngIf="settingActive == 2">
              <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Reset Password</div>
                    <div class="panel-body">
                        <form [formGroup]="passwordForm" class="form-validate form-horizontal" (submit)="submitPasswordResetForm($event, passwordForm.value)" novalidate="">
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" placeholder="Enter Password" formControlName="updatePassword" [formControl]="passwordForm.get('updatePassword')" />
                                        <span class="text-danger" *ngIf="passwordForm.get('updatePassword').hasError('required') && (passwordForm.get('updatePassword').dirty || passwordForm.get('updatePassword').touched)">Input required</span>
                                        <small class="text-muted">Password should have atleast one uppercase character, lowercase character, number, special character and Minimum length of the password should be upto 8 characters</small>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [formControl]="passwordForm.get('confirmPassword')" />
                                        <span class="text-danger" *ngIf="passwordForm.get('confirmPassword').hasError('equalTo')">Password does not match</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-center">        
                                <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
                                    <span class="btn-label"><i class="fa fa-check"></i></span>Save
                                </button>
                                <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
                                </button>
                            </div>  
                      </form>                        
                    </div>
                </div>                
            </div>
            <!--
            <div *ngIf="settingActive == 2">
              <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Reset Password</div>
                    <div class="panel-body">
                        <form [formGroup]="passwordForm" class="form-validate form-horizontal" (submit)="submitPasswordResetForm($event, passwordForm.value)" novalidate="">
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" formControlName="updatePassword" placeholder="Enter Password"  />                                       
                                        <span class="text-danger" *ngIf="passwordForm.get('updatePassword').hasError('required') && (passwordForm.get('updatePassword').dirty || passwordForm.get('updatePassword').touched)">Input required</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password" />                                        
                                        <span class="text-danger" *ngIf="passwordForm.get('confirmPassword').hasError('equalTo')">Password does not match</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <small class="text-muted">required</small>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="text-center">        
                                <button class="btn btn-labeled btn-info" type="submit">
                                    <span class="btn btn-label"><i class="fa fa-check"></i></span>Save
                                </button>
                                <button class="btn btn-labeled btn-info" type="button" (click)="backClicked()">
                                    <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
                                </button>
                            </div>  
                      </form>                        
                    </div>
                </div>                
            </div>
        -->
            <div *ngIf="settingActive == 3">
              <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Roles</div>
                    <div class="panel-body">
                      <form [formGroup]="userRoleForm" class="form-validate form-horizontal" (submit)="submitRoleForm($event, 
                      userRoleForm.value)" novalidate="">                        
                        <fieldset>
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <h5> Available Roles: {{availableRoleList.length}} </h5>
                                    <select multiple (change)="changeRoleList($event.target)" style="width:100%; height:200px;">
                                        <option *ngFor="let item of availableRoleList" [value]="item.roleIdPk">{{item.roleName}}</option>
                                    </select>
                                </div> 
                                <div class="col-sm-2 text-center"  style="padding-top: 80px;">            
                                    <button class="btn btn-info btn-md" title="select" type="button" (click)="selectAllRoles()" >
                                        <span class="fa fa-forward"></span>              
                                    </button>
                                    <br><br>
                                    <button class="btn btn-info btn-md" title="deselect" type="button" (click)="deSelectAllRoles()" >
                                        <span class="fa fa-backward"></span>              
                                    </button>
                                </div>
                                <div class="col-sm-5">
                                    <h5> Assigned Roles: {{assignedRoleList.length}} </h5> 
                                    <select multiple (change)="changeAssignedRoleList($event.target)" style="width:100%; height:200px;">
                                        <option *ngFor="let item of assignedRoleList" [value]="item.roleIdPk">{{item.roleName}}</option>
                                    </select>            
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-center">        
                            <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
                            <span class="btn-label"><i class="fa fa-check"></i></span>Save
                            </button>
                                            
                            <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
                            <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
                            </button>
                        </div>
                      </form>
                    </div>
                </div>                
            </div>            
            <div *ngIf="settingActive == 4">
                <form action="">
                    <div class="panel b">
                        <div class="panel-heading bg-gray-lighter text-bold">Notifications</div>
                        <div class="panel-body bb">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />
                                        <strong>Disable email notifications</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>Interaction</strong>
                            </p>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Alert me when someone start to follow me</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Alert me when someone star my work</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Alert me when post a new comment</label>
                                </div>
                            </div>
                            <p>
                                <strong>Marketing</strong>
                            </p>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Send me news and interesting updates</label>
                                </div>
                            </div>
                            <button class="btn btn-info" type="button">Update notifications</button>
                            <p>
                                <small class="text-muted">Mauris sodales accumsan erat, ut dapibus erat faucibus vitae.</small>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="settingActive == 5">
              <div class="panel b">
                    <div class="panel-heading bg-gray-lighter text-bold">Account</div>
                    <div class="panel-body">
                        <form [formGroup]="activeUserForm" class="form-validate form-horizontal" (submit)="submitActiveUserForm($event, activeUserForm.value)" novalidate="">
                            <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Active</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="active" [formControl]="activeUserForm.controls['active']">
                                    <option value= "1">Yes</option>
                                    <option value= "0">No</option>                                        
                                    </select>
                                    <span class="text-danger" *ngIf="activeUserForm.controls['active'].hasError('required') && (activeUserForm.controls['active'].dirty || activeUserForm.controls['active'].touched)">This field is required</span>
                                </div>
                                <div class="col-sm-2">
                                    <small class="text-muted">required</small>
                                </div>
                            </div>
                            </fieldset>
                            <div class="text-center">        
                            <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
                                <span class="btn-label"><i class="fa fa-check"></i></span>Save
                            </button>
                            <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
                                <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
                            </button>
                            </div> 
                        </form>                      
                    </div>
                </div>
                <!-- <div class="panel b">
                    <div class="panel-heading bg-danger text-bold">Delete account</div>
                    
                    <div class="panel-body bt">
                        <p>Once the account is deleted, all access of this account will be revoked and account will be deleted permanently. You cannot undo this action.</p>
                        <p>will be asked for confirmation before delete account.</p>
                        <button class="btn btn-default" type="button" (click)="submitDeleteUser()">
                            <span class="text-danger">Delete account</span>
                        </button>
                    </div>
                </div> -->
            </div>           
        </div>
    </div>
</div>