<!--<div class="app-generic-table">
    <table class="table table-hover generic-table" [mfData]="genericData" #mf="mfDataTable" [mfRowsOnPage]="pageSize">
        <thead class= "generic-header">
            <tr>
                <th *ngFor="let column of metaData.columns">
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter [by]="column.name">{{column.title}}</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let column of metaData.columns" class="generic-filter-row">
                    <input type="text" [name]="column.name" class="generic-filter" (change)="gridFilter($event.target)"/>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
                <td *ngFor="let column of metaData.columns" [style]="column.style">{{item[column.name]}}</td>
            </tr>
        </tbody>
        <tfoot align="left">
            <tr>
                <td [attr.colspan]="colLength">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>-->

<div>        
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4">
            <h4>Total records: {{totalRecords}} </h4>    
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
            <h4>Table Name: {{screenName}} </h4>    
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
            <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event)" />
        </div>
    </div>
    <div class="app-generic-table">    
    <table class="table table-bordered table-hover" [mfData]="genericData" #mf="mfDataTable" [mfRowsOnPage]="pageSize">
        <thead>
            <tr>
                <th *ngFor="let column of metaData.columns">
                    <span class="ui-column-resizer" (mousedown)="onMouseDown($event)"></span>
                    <mfDefaultSorter [by]="column.name">{{column.title}}</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <!--<tbody>
            <tr>
                <td *ngFor="let column of metaData.columns">
                    <input type="text" [name]="column.name" (keyup)="gridFilter($event.target)"/>
                </td>
            </tr>
        </tbody>-->
        <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
                <td *ngFor="let column of metaData.columns">{{item[column.name]}}</td>
            </tr>
        </tbody>
        <tfoot align="left">
            <tr>
                <td [attr.colspan]="colLength">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>