.app-generic-table {
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;

    table {
        padding: 0;
        border: 1px solid #ddd;
        background: white;
        thead tr th {
            position: relative;
            border-right: 1px solid #ddd;
        }
        tbody tr td {
            position: relative;
            border-right: 1px solid #ddd;
        }
        span.ui-column-resizer {
            display: block;
            position: absolute;
            color: red;
            top: 0;
            right: 0;
            margin: 0;
            width: 8px;
            height: 100%;
            padding: 0;
            cursor: col-resize;
            border: 1px solid transparent;
        }
        .generic-header{
                background: #ddd;
        }
        .generic-filter-row {
            padding: 0;
        }
        .generic-filter {
            width: 100%;
            border: 0px solid black;
        }
    }
}