<div class="content-heading">Task Details</div>


<div class="panel panel-default">
<div class="panel-body">
  <div class="panel-heading">
    <button class="btn btn-labeled btn-info btn-xs" type="button" (click)="backClicked()">
      <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
      Back
    </button>

    <ng-container *ngIf="editButtonFlag == true" >             

    <button class="btn btn-labeled btn-info btn-xs" *ngIf="this.isButtonVisible"  type="button"  (click)="editTask(valTaskForm)">
      <span class="btn-label"><i class="fa fa-check"></i></span>
      Edit
    </button>
    </ng-container>             

    <ng-container *ngIf="createAvailableSubtaskButtonflag == true" >             
      <span *ngFor="let taskList of availableSubtaskTypeList" >
        <button class="btn btn-labeled btn-info btn-xs" type="button" (click)="prepareSubTask(valTaskForm , taskList.taskType)">
        <span class="btn-label"><i class="fa fa-check"></i></span>
        Create {{taskList.taskType }} Task
        </button>
      </span >                
  </ng-container>
  
</div>

    <ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
    </ng-container>
    
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
  <form [formGroup]="valTaskForm" class="form-validate form-horizontal" (submit)="submitForm($event, valTaskForm.value)" novalidate="">
  
     
  <ng-container *ngIf="toUpdate === true">  
<!-- 
    <div class="breadcrumb">
        <span *ngFor="let item of allParentTaskList; let i = index">
            <a (click)="taskByIdForEdit(item.taskId)" > Task # {{ item.taskId }}-{{item.studyCode}}-{{item.deliverableCode}}-{{item.type}} </a>
            <span>  {{ i < allParentTaskList.length-1  ? '>>' : '' }} </span>
        </span>  
    </div>

 -->   
  <div class="form-group">
        <div class="col-xs-12 col-md-12 col-lg-offset-2"> 
              <label class="col-sm-3 control-label"> <mark>Task #{{ task.taskId}}</mark></label> 
     
            <label class=" control-label ">{{ task.createdBy }}  created an issue on {{task.createdDate | datex:'YYYY-MM-DD hh:mm:ss' }} </label> 
    </div>
    
    </div>
  </ng-container>

  <div class="form-group">
      <div class="row">
           <label class="col-sm-2 control-label">Study *</label>            
            <div class="col-sm-3">              
              <select class="form-control" formControlName="studyId" [formControl]="valTaskForm.controls['studyId']" (change)="onStudyChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let study of studyList let i = index" [value]="study.studyId">{{study.studyName}} </option>
              </select> 
            <span class="text-danger" *ngIf="valTaskForm.controls['studyId'].hasError('required') && (valTaskForm.controls['studyId'].dirty || valTaskForm.controls['studyId'].touched)">This field is required</span>
          </div> 
          


       <label class="col-sm-2 control-label">Deliverable *</label>            
            <div class="col-sm-3">
              <select class="form-control" formControlName="deliverableId" [formControl]="valTaskForm.controls['deliverableId']" (change)="onDeliverableChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let deliverable of deliverableList let i = index" [value]="deliverable.deliverableId">{{deliverable.deliverableName}}</option>
              </select>
            <span class="text-danger" *ngIf="valTaskForm.controls['deliverableId'].hasError('required') && (valTaskForm.controls['deliverableId'].dirty || valTaskForm.controls['deliverableId'].touched)">This field is required</span>            
        </div> 
      </div>
   </div>

    
    <div class="form-group">   
        <div class="row">  
          <label class="col-sm-2 control-label">Title *</label>          
          <div class="col-sm-8">
              <input class="form-control" rows="2" formControlName="name" [formControl]="valTaskForm.controls['name']">
            <span class="text-danger" *ngIf="valTaskForm.controls['name'].hasError('required') && (valTaskForm.controls['name'].dirty || valTaskForm.controls['name'].touched)">This field is required</span>
          </div>
       </div>
    </div>

    <div class="form-group">    
      <div class="row"> 
          <label class="col-sm-2 control-label">Type *</label>                        
            <div class="col-sm-3">              
              <select class="form-control" formControlName="type" [formControl]="valTaskForm.controls['type']" (change)="OnSelectTaskType($event.target.value)" >                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let taskType of taskTypeList" [value]="taskType.taskType"> {{taskType.taskType}} </option>
              </select>
            <span class="text-danger" *ngIf="valTaskForm.controls['type'].hasError('required') && (valTaskForm.controls['type'].dirty || valTaskForm.controls['type'].touched)">This field is required</span>       
          </div> 

  <ng-container *ngIf="showParent === true">
          <label class="col-sm-2 control-label">Parent</label>          
            <div class="col-sm-3">
              <select class="form-control" formControlName="type" [formControl]="valTaskForm.controls['parentId']" >                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let taskType of parentTaskList let i = index" [value]="taskType.taskId"> #{{taskType.taskId}}: {{taskType.type}}: {{taskType.name}}</option>
              </select>                                                                                       
            <span class="text-danger" *ngIf="valTaskForm.controls['parentId'].hasError('required') && (valTaskForm.controls['parentId'].dirty || valTaskForm.controls['parentId'].touched)">This field is required</span>       
          </div> 
  </ng-container>
</div>
</div>

  <div class="form-group">
    <div class="row">
      <label class="col-sm-2 control-label">Linked Deliverable</label>
      <div class="col-sm-8">
       <ng-select (data)="delId" 
          [multiple]="true" 
          [items]="items"
          [active]="assignedItem"
          (data)="refreshValue($event)" 
          (selected)="selected($event)" 
          (removed)="removed($event)" 
          placeholder="No deliverable selected">
       </ng-select>
    </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
         <label class="col-sm-2 control-label">Description</label>
          <div class="col-sm-8">
          <textarea rows="2" class="form-control" formControlName="description" [formControl]="valTaskForm.controls['description']" ></textarea>            
          </div>                   
         </div> 
    </div>     

  
  <div class="form-group">
        <div class="row">
           <label class="col-sm-2 control-label">Priority *</label>            
            <div class="col-sm-3">              
              <select class="form-control" formControlName="priority" [formControl]="valTaskForm.controls['priority']" (change)="onTaskPriorityChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let taskPriority of taskPriorityList let i = index" [value]="taskPriority">{{taskPriority}}</option>
              </select>
            <span class="text-danger" *ngIf="valTaskForm.controls['priority'].hasError('required') && (valTaskForm.controls['priority'].dirty || valTaskForm.controls['priority'].touched)">This field is required</span>
          </div>

       <label class="col-sm-2 control-label">Status *</label>            
            <div class="col-sm-3">              
              <select class="form-control" formControlName="status" [formControl]="valTaskForm.controls['status']" (change)="onTaskStatusChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let taskStatus of taskStatusList let i = index" [value]="taskStatus">{{taskStatus}}</option>
              </select>
            <span class="text-danger" *ngIf="valTaskForm.controls['status'].hasError('required') && (valTaskForm.controls['status'].dirty || valTaskForm.controls['status'].touched)">This field is required</span>           
        </div>
      </div>
   </div>


  <div class="form-group">
      <div class="row"> 
           <label class="col-sm-2 control-label">Assignee *</label>            
            <div class="col-sm-8">              
              <select class="form-control" formControlName="assigneeId" [formControl]="valTaskForm.controls['assigneeId']" (change)="onTaskAssigneeChange($event.target.value)">                   
                  <option [value] = null disabled >Please select ...</option>
                  <option *ngFor="let appUser of appUserList let i = index" [value]="appUser.userId">{{appUser.userName}} </option>
              </select>
            <span class="text-danger" *ngIf="valTaskForm.controls['assigneeId'].hasError('required') && (valTaskForm.controls['assigneeId'].dirty || valTaskForm.controls['assigneeId'].touched)">This field is required</span> 
        </div> 
      </div> 
  </div>
  <div class="form-group">
        <div class="row">
          <label class="col-sm-2 control-label">Estimated Time (hrs)</label>
            <div class="col-sm-3">
             <input type="number" min="0" oninput="validity.valid||(value='');" step="0.5" class="form-control"  formControlName="estimatedTime" [formControl]="valTaskForm.controls['estimatedTime']">
         <!-- <input type="text"  class="form-control"  formControlName="estimatedTime" [formControl]="valTaskForm.controls['estimatedTime']"  > -->
              <!-- <span class="text-danger" *ngIf="valTaskForm.controls['estimatedTime'].hasError('pattern') && (valTaskForm.controls['estimatedTime'].dirty || valTaskForm.controls['estimatedTime'].touched)">Enter a valid time</span> -->
              <!-- <small class="text-muted">Hrs</small> -->
            </div>

          <label class="col-sm-2 control-label">Actual Time (hrs)</label>
            <div class="col-sm-3">
         <input type="number" min="0" oninput="validity.valid||(value='');" step="0.5" class="form-control"  formControlName="actualTime" [formControl]="valTaskForm.controls['actualTime']">        
         <!-- <input type="text"  class="form-control"  formControlName="actualTime" [formControl]="valTaskForm.controls['actualTime']"  > -->
         <!-- <span class="text-danger" *ngIf="valTaskForm.controls['actualTime'].hasError('pattern') && (valTaskForm.controls['actualTime'].dirty || valTaskForm.controls['actualTime'].touched)">Enter a valid time</span> -->
              <!-- <small class="text-muted">Hrs</small> -->
          </div>
        </div>
    </div>

  <div class="form-group">
      <div class="row">
        <label class="col-sm-2 control-label">Start Date *</label>
          <div class="col-sm-3">
            <input class="form-control" type="date" formControlName="startDate" [formControl]="valTaskForm.controls['startDate']" >
            <span class="text-danger" *ngIf="valTaskForm.controls['startDate'].hasError('required') && (valTaskForm.controls['startDate'].dirty || valTaskForm.controls['startDate'].touched)">Enter a valid date</span>
          </div>
        <label class="col-sm-2 control-label">End Date *</label>
          <div class="col-sm-3">
            <input class="form-control" type="date" formControlName="endDate" [formControl]="valTaskForm.controls['endDate']" >
            <span class="text-danger" *ngIf="valTaskForm.controls['endDate'].hasError('required') && (valTaskForm.controls['endDate'].dirty || valTaskForm.controls['endDate'].touched)">Enter a valid date</span>
        </div>
      </div>
  </div>
  <fieldset></fieldset>

  <!-- <fieldset>
    <div class="row">
        <a (click)="getDocument()" > get Doc </a>      
    </div>
  </fieldset> -->


 <!-- <fieldset>
    <div class="form-group">
    <div class="row">
         <label class="col-sm-2 control-label">Upload file</label>
          <div class="col-sm-8">                
            
            <label for="file1" class="file-upload">
                <label>Multiple</label>
                <input id="file1" type="file" ng2FileSelect [uploader]="uploader" multiple />
            </label>
            <label for="file2" class="file-upload">                
                <label>Single</label>
                <input id="file2" type="file" ng2FileSelect [uploader]="uploader" />
            </label>
          </div>                   
        </div> 
    </div>     
    <div class="row">
      <div *ngIf="uploader?.queue?.length" >
        <p class="pull-right label label-info ng-binding ng-scope" *ngIf="uploader?.queue?.length">Queue length: {{ uploader?.queue?.length }}</p>
        <h4 class="page-header mt0">Upload queue</h4>
        <table class="table">
            <thead>
                <tr>
                    <th width="25%">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong><a (click)="getDocument(item?.some?.docId)">{{ item?.file?.name }}</a></strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="icon-close mr"></i></span>
                        <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-info btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"  [disabled]="item?.some?.docId != uploader?.queue?.docId">
                            <span class="fa icon-cloud-upload mr"></span> Upload
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(item)">
                            <span class="icon-trash mr"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
  </fieldset> -->
  

  <!-- <fieldset> -->
  <ng-container *ngIf="taskCommentList.length > 0">
    <fieldset> 
        <h4>Comments ( {{taskCommentList.length}} )</h4>   
            <div class="col-lg-offset-1"> 
              <tr *ngFor="let item of taskCommentList" >
                <div class="icon-user"><strong> {{item.createdBy }}</strong></div>
                  <li [hidden]= "item.action ==''">{{item.action}}</li>
                  <div class="b" >{{item.comment}}</div>
                    <div class="m0 text-muted">{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</div>
                    &thinsp;
                    </tr>
               </div>      
    </fieldset>
  </ng-container>


  <div class="form-group" *ngIf="showCommnet">
    <div class="row">
         <label class="col-sm-2 control-label">Comment</label>
          <div class="col-sm-8">
          <textarea rows="2" class="form-control" formControlName="comment" [formControl]="valTaskForm.controls['comment']"></textarea>            
          </div>                   
         </div> 
      </div>     
  <!-- </fieldset> -->
 
      <div class="text-center">        
        <button class="btn btn-labeled btn-info btn-sm" [disabled]="submitted" type="submit">
          <span class="btn-label"><i class="fa fa-check"></i></span>Save
        </button>
                        
        <button class="btn btn-labeled btn-info btn-sm" type="button" (click)="backClicked()">
          <span class="btn-label"><i class="fa fa-close"></i></span>Cancel
        </button>
      </div>
    </form>

</div>
</div>

<div class="modal" bsModal #cantCreateSubTaskModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantCreateSubTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Edit</h4>
                </div>
                <div class="modal-body">
                    You can not create sutask of this task as this task is already level 2. 
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantCreateSubTaskModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal" bsModal #cantCreateTaskModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-danger" >
                    <button type="button" class="close" aria-label="Close" (click)="cantCreateSubTaskModal.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Can't Create</h4>
                </div>
                <div class="modal-body">
                    Please select parent task to create this task. if parent task is empty, you can not create task for selected type.  
                    <div class="text-center">                        
                        <button class="btn btn-danger" type="button" (click)="cantCreateTaskModal.hide()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- </div> -->

<ng-container *ngIf="levelOneSubTaskList.length > 0" >             

<div class="col-sm-2">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel-heading">Subtask</div>
      
        <div class="displayGrid" style="overflow-y: auto; overflow-x: off">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of levelOneSubTaskList" >
              <td> 
              <a (click)="taskByIdForEdit(item.taskId)"> #{{item.taskId}}-{{item.studyCode}}-{{item.deliverableCode}}-{{item.type}} </a> 
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>
</ng-container>             
