
  <!--<div class="sidenav" [style.width]="width">
    <input type="text" id="filter" placeholder="Search for names.." class="menu-filter" (change)="filterMenu($event.target.value)">
    <a *ngFor="let menu of menus" (click)="menuOnClick(menu)" [tooltip]="menu.tooltip">{{menu.title}}</a>
  </div>
  <div id="main" [style.marginLeft]="margin">
    <span style="font-size:30px;cursor:pointer" (click)="_toggleOpened()">&#9776;<span class="title">{{selectedMenu  != null? selectedMenu.title : ''}}</span></span>
    <app-generic-container *ngIf="selectedMenu" [bridgeId]="bridgeId" [screenPk]="selectedMenu.screenPk" [screenName]="selectedMenu.screenName" [pageSize]=5></app-generic-container>
  </div>-->
  <!--<div class="panel panel-default">
    <div class="panel-heading">
      <input type="text" id="filter" placeholder="Search for names.." (change)="filterMenu($event.target.value)">
    </div>
    <div class="panel-body">
      <div class="col-xs-4 col-md-2">
        <div class="list-group" *ngFor="let menu of menus">
          <a class="list-group-item" (click)="menuOnClick(menu)" [tooltip]="menu.tooltip">{{menu.title}}</a>        
        </div>
      </div>
      <div class="col-xs-14 col-md-10">
        <div id="main" [style.marginLeft]="margin">      
          <app-generic-container *ngIf="selectedMenu" [bridgeId]="bridgeId" [screenPk]="selectedMenu.screenPk" [screenName]="selectedMenu.screenName" [pageSize]=5></app-generic-container>
        </div>
      </div>

    </div>
</div>-->

<div class="row">
  <div class="col-xs-4 col-md-2">
    <h4 class="text-center">Table List</h4>
    <form>                      
        <div class="form-group">                        
            <select class="form-control" (change)="onChange($event.target.value)">            
              <option value="1" selected>Domain Tables</option>
              <option value="2">Operational Tables</option>
            </select>                          
        </div>                   
    </form>
    <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterMenuChanged($event.target.value)" />      

    <div class="displayGrid" style="overflow-y: auto; overflow-x: off">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let menu of menus" (click)="menuOnClick(menu)">
            <td>{{menu.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-14 col-md-10">
    <app-generic-container *ngIf="selectedMenu" [bridgeId]="bridgeId" [screenPk]="selectedMenu.screenPk" [screenName]="selectedMenu.screenName" [pageSize]=5></app-generic-container>     
  </div>
</div>

<!--
<div class="panel panel-default">
    <div class="panel-heading">
      <h4>Table List</h4>
    </div>
    <div class="panel-body">
      <div class="col-xs-4 col-md-2">
        <input class="mb form-control" placeholder="Search..." type="text" (keyup)="onQuickFilterChanged($event.target.value)" />      
        <div class="list-group">
          <a class="list-group-item">FirstItem</a>
          <a class="list-group-item">SecondItem</a>
          <a class="list-group-item">ThirdItem</a>        
        </div>
      </div>
    </div>
    -->