<!-- <div class="content-heading">Select / Set Task</div> -->
<!-- <div class="content-heading">Tasks List</div>
<div class="panel panel-default">
<ng-container *ngIf="showSpinnerRese > 0">
        <div id="loader"></div>
  </ng-container>
</div> -->
<div class="panel b">
  <div class="panel-heading bg-danger text-bold">Delete Study</div>
  
  <div class="panel-body bt">
      <p>Below relevant tasks will be also deleted.   
        Are you sure you want to delete these records with selected Study? Once deleted, you cannot undo this action.</p>
      <p> You will be asked for confirmation before delete account.</p>
        <div class="text-center">
            <button class="btn btn-default" type="button" (click)="submitDeleteStudy()">
                <span class="text-danger">Delete</span>
            </button>
            <button class="btn btn-default" type="button" (click)="backClicked()">
                <span class="text-danger">Cancel</span>
            </button>
        </div>    
   </div>
</div> 

<div class="modal" bsModal #deleteModal="bs-modal" [config]="{backdrop: false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header bg-danger" >
              <button type="button" class="close" aria-label="Close" (click)="deleteModal.hide()">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Delete Record</h4>
          </div>

          <div style="overflow-y: auto; height: 150px;">
          <div class="modal-body">  
              Are you sure you want to delete these records with selected Study?
              <br><br>
        
              <div class="text-center">
                  <button class="btn btn-danger" type="button" (click)="delete()">Yes</button>
                  <button class="btn btn-danger" type="button" (click)="deleteModal.hide()">No</button>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>

<h4>Total Tasks: {{totalRecords}} </h4>
<ng-container *ngIf="showSpinner > 0">
      <div id="loader"></div>
</ng-container>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="panel b">
  <div class="panel-body">
  <div class="table-responsive">    
    <table class="table" [mfData]="delTaskList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                 <th>
                <mfDefaultSorter by="type">Type</mfDefaultSorter>
                    </th>
                <th width="20%">
                    <mfDefaultSorter by="taskId">#ID </mfDefaultSorter>
                </th>                
                <th>
                    <mfDefaultSorter by="name">Title</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="studyName">Study</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="deliverableName">Deliverable</mfDefaultSorter>
                </th>  
                <th>
                    <mfDefaultSorter by="createdDate">Created</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="assigneeName">Assignee</mfDefaultSorter>
                </th>   
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>               
            </tr>
        </thead>

          <tbody>            
              <tr *ngFor="let item of mf.data; let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
                  <td><div class="badge bg-gray-lighter">{{item.type}}</div></td>
                  <td>#{{item.taskId}}</td>                 
                  <td width="20%">{{item.name}}</td>  
                  <td>{{item.studyName}}</td>                 
                  <td>{{item.deliverableName}}</td>  
                  <td>{{item.createdDate | datex:'YYYY-MM-DD hh:mm:ss'}}</td>
                  <td>{{item.priority}}</td>  
                  <td>{{item.assigneeName}}</td> 
                  <td>{{item.status}}</td>      
              </tr>
          </tbody>

        <tfoot align="left">
            <tr>
                <td colspan="16">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
       </table>

      </div>
    </div>
</div>